<div class="container-fluid">
    <!-- Button Group -->
    <div class="row d-flex p-3 box-1">
        <div class="col-md-9 d-flex justify-content-between mb-3 mb-md-0">
            <div class="w-100">
                <div class="d-flex" style="height: 130px;gap: 10px;">
                    <div class="col-4" style="height: 100%!important;padding: 0;">
                        <div class="card card-stats card-round card-1" style="height: 100%;">
                            <div class="card-body border-0" style="background-color: #FFEEF0;position: relative;">
                                <div class="row align-items-center">


                                    <div class="numbers">
                                        <div style="display: flex;justify-content: space-between;">
                                            <h4 class="card-category">
                                                <b style="color: #FA537A">Nouveaux</b>
                                            </h4>
                                            <p class="card-title"
                                                style="color: #FFA11E;border: 1px solid #FFA11E;border-radius: 100%;height: 30px;width: 30px;display: flex;align-items: center;justify-content: center;background-color: #FFF3F3;font-size: 0.9rem;position: absolute;bottom: 10px;right: 10px;">
                                                17</p>

                                        </div>


                                        <h3 style="color: #FA537A;font-size: 2rem;">52 000 </h3>
                                        <h3 class="card-category text-dark">Aujourd'hui</h3>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4" style="height: 100%!important;">
                        <div class="card card-stats card-round card-2" style="height: 100%;">
                            <div class="card-body border-0" style="background-color: #F1EEFF;position: relative;">
                                <div class="row align-items-center">


                                    <div class="numbers">
                                        <div style="display: flex;justify-content: space-between;">
                                            <h4 class="card-category">
                                                <b style="color: #6E49E7">Standards</b>
                                            </h4>
                                            <p class="card-title"
                                                style="color: #6E49E7;border: 1px solid #6E49E7;border-radius: 100%;height: 30px;width: 30px;display: flex;align-items: center;justify-content: center;background-color: #FFFFFF;font-size: 0.9rem;position: absolute;bottom: 10px;right: 10px;">
                                                54</p>

                                        </div>


                                        <h3 style="color: #6E49E7;font-size: 2rem;">11 861</h3>
                                        <h3 class="card-category text-dark">Aujourd'hui</h3>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4" style="height: 100%!important;">
                        <div class="card card-stats card-round card-3" style="height: 100%;">
                            <div class="card-body border-0" style="background-color: #D4F0FF;position: relative;">
                                <div class="row align-items-center">


                                    <div class="numbers">
                                        <div style="display: flex;justify-content: space-between;">
                                            <h4 class="card-category">
                                                <b style="color: #29BC6B">Certifiés</b>
                                            </h4>
                                            <p class="card-title"
                                                style="color: #29BC6B;border: 1px solid #29BC6B;border-radius: 100%;height: 30px;width: 30px;display: flex;align-items: center;justify-content: center;background-color: #FFFFFF;font-size: 0.9rem;position: absolute;bottom: 10px;right: 10px;">
                                                34</p>

                                        </div>


                                        <h3 style="color: #29BC6B;font-size: 2rem;">52 000 </h3>
                                        <h3 class="card-category text-dark">Aujourd'hui</h3>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-3 ms-auto d-flex justify-content-end">
            <img src="assets/img/ored.png" alt="Product Image" height="20">
        </div>
    </div>

    <div class="tab-content" id="nav-tabContent">
        <div class="active" id="nav-home">
            <div class="pt-2 px-3">
                <!-- Search and Filter -->
                <div class="row mt-1 p-2">
                    <div class="col-12 d-flex justify-content-between align-items-center pt-2 pb-2"
                        style="background-color: #f8f8fb; border-bottom: 1px solid #c4c4c4">


                        <ul class="nav nav-tabs col-6 d-flex gap-2 border-0" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="btn btn-border btn-round btn-add button_style active border"
                                    id="premmier-tab" data-bs-toggle="tab" data-bs-target="#premmier" type="button"
                                    role="tab" aria-controls="premmier" aria-selected="true">Demandes de
                                    payement</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="btn btn-border btn-round btn-add button_style border" id="deuxieme-tab"
                                    data-bs-toggle="tab" data-bs-target="#deuxieme" type="button" role="tab"
                                    aria-controls="deuxieme" aria-selected="false">Paiement effectués</button>
                            </li>

                            <li class="nav-item" role="presentation">
                                <button class="btn btn-border btn-round btn-add button_style border" id="troisieme-tab"
                                    data-bs-toggle="tab" data-bs-target="#troisieme" type="button" role="tab"
                                    aria-controls="troisieme" aria-selected="false">Paiement effectués</button>
                            </li>

                        </ul>

                        <div class="col-8 d-flex justify-content-center align-items-center">
                            <div class="input-group me-2" style="width: 50%">
                                <div class="input-group search-bar">
                                    <input type="text" placeholder="Recherche" class="form-control" />

                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <span class="input-group-bar"></span>
                                            <i class="fa fa-search search-icon"></i>
                                        </span>
                                    </div>
                                </div>
                                <!-- <span class="input-group-text rounded-end" style="border-top-right-radius: 50px; border-bottom-right-radius: 50px;">
                  <i class="fa fa-search"></i>
                </span> -->
                            </div>

                        </div>
                    </div>
                </div>




                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="premmier" role="tabpanel" aria-labelledby="premmier-tab">

                        <div class="row box-2" style="padding-bottom: 0;">
                            <div class="col-12 d-flex flex-wrap order-row align-items-center mb-0"
                                style="background-color: white; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);border-radius: 10px;">
                                <div class="order-item d-flex align-items-center order-item-large "><img
                                        src="assets/img/usee.png" alt="Product Image" class="product-image"
                                        style="border-radius: 100%;" routerLink="/recruteur/profil">
                                    <div class="product-info"><span class="product-name text-dark">Remail Kouadio</span>
                                        <p><small>Abidjan, yopougon</small></p>
                                    </div>
                                </div>
                                <div class="order-item order-item-large"
                                    style="border-left:1px solid rgb(217, 217, 217)">
                                    <div
                                        style="display: flex; justify-content: center; align-items: center; gap: 20px; width: 100%; background-color: white;">

                                        <small class="text-center " style="text-transform: uppercase;">
                                            Date d’inscription
                                            <br>
                                            <small style="font-weight: bolder;font-size: 0.8rem;padding-top: 10px;">
                                                Aujourd'hui, á 09:14</small>

                                        </small>

                                    </div>

                                </div>
                                <div class="order-item order-item-large"
                                    style="border-left:1px solid rgb(217, 217, 217)">
                                    <div
                                        style="display: flex; justify-content: center; align-items: center; gap: 20px; width: 100%; background-color: white;">

                                        <small class="text-center " style="text-transform: uppercase;">
                                            Nombre de vendeurs
                                            <br>
                                            15
                                        </small>

                                    </div>

                                </div>

                                <div class="order-item order-item-large"
                                    style="border-left:1px solid rgb(217, 217, 217)">
                                    <div
                                        style="display: flex; justify-content: end; align-items: center; gap: 20px; width: 100%; background-color: white;">
                                        <small><img src="assets/img/certif.png" alt="Product Image"
                                                height="30px"></small><small class="text-center "
                                            style="text-transform: uppercase;">Statut <br>Non
                                            certifié</small>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="deuxieme" role="tabpanel" aria-labelledby="deuxieme-tab">

                        <div class="row box-2" style="padding-bottom: 0;">
                            <div class="col-12 d-flex flex-wrap order-row align-items-center mb-0"
                                style="background-color: white; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);border-radius: 10px;">
                                <div class="order-item d-flex align-items-center order-item-large "><img
                                        src="assets/img/usee.png" alt="Product Image" class="product-image"
                                        style="border-radius: 100%;" routerLink="/recruteur/profil">
                                    <div class="product-info"><span class="product-name text-dark">Remail Kouadio</span>
                                        <p><small>Abidjan, yopougon</small></p>
                                    </div>
                                </div>
                                <div class="order-item order-item-large"
                                    style="border-left:1px solid rgb(217, 217, 217)">
                                    <div
                                        style="display: flex; justify-content: center; align-items: center; gap: 20px; width: 100%; background-color: white;">

                                        <small class="text-center " style="text-transform: uppercase;">
                                            Date d’inscription
                                            <br>
                                            <small style="font-weight: bolder;font-size: 0.8rem;padding-top: 10px;">
                                                Aujourd'hui, á 09:14</small>

                                        </small>

                                    </div>

                                </div>
                                <div class="order-item order-item-large"
                                    style="border-left:1px solid rgb(217, 217, 217)">
                                    <div
                                        style="display: flex; justify-content: center; align-items: center; gap: 20px; width: 100%; background-color: white;">

                                        <small class="text-center " style="text-transform: uppercase;">
                                            Nombre de vendeurs
                                            <br>
                                            15
                                        </small>

                                    </div>

                                </div>

                                <div class="order-item order-item-large"
                                    style="border-left:1px solid rgb(217, 217, 217)">
                                    <div
                                        style="display: flex; justify-content: end; align-items: center; gap: 20px; width: 100%; background-color: white;">
                                        <small><img src="assets/img/certif.png" alt="Product Image"
                                                height="30px"></small><small class="text-center "
                                            style="text-transform: uppercase;">Statut <br>Non
                                            certifié</small>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="troisieme" role="tabpanel" aria-labelledby="troisieme-tab">

                        <div class="row box-2" style="padding-bottom: 0;">
                            <div class="col-12 d-flex flex-wrap order-row align-items-center mb-0"
                                style="background-color: white; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);border-radius: 10px;">
                                <div class="order-item d-flex align-items-center order-item-large "><img
                                        src="assets/img/usee.png" alt="Product Image" class="product-image"
                                        style="border-radius: 100%;" routerLink="/recruteur/profil">
                                    <div class="product-info"><span class="product-name text-dark">Remail Kouadio</span>
                                        <p><small>Abidjan, yopougons</small></p>
                                    </div>
                                </div>
                                <div class="order-item order-item-large"
                                    style="border-left:1px solid rgb(217, 217, 217)">
                                    <div
                                        style="display: flex; justify-content: center; align-items: center; gap: 20px; width: 100%; background-color: white;">

                                        <small class="text-center " style="text-transform: uppercase;">
                                            Date d’inscription
                                            <br>
                                            <small style="font-weight: bolder;font-size: 0.8rem;padding-top: 10px;">
                                                Aujourd'hui, á 09:14</small>

                                        </small>

                                    </div>

                                </div>
                                <div class="order-item order-item-large"
                                    style="border-left:1px solid rgb(217, 217, 217)">
                                    <div
                                        style="display: flex; justify-content: center; align-items: center; gap: 20px; width: 100%; background-color: white;">

                                        <small class="text-center " style="text-transform: uppercase;">
                                            Nombre de vendeurs
                                            <br>
                                            15
                                        </small>

                                    </div>

                                </div>

                                <div class="order-item order-item-large"
                                    style="border-left:1px solid rgb(217, 217, 217)">
                                    <div
                                        style="display: flex; justify-content: end; align-items: center; gap: 20px; width: 100%; background-color: white;">
                                        <small><img src="assets/img/certif.png" alt="Product Image"
                                                height="30px"></small><small class="text-center "
                                            style="text-transform: uppercase;">Statut <br>Non
                                            certifié</small>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



  <!-- Modal actualite -->
  <div class="modal fade" id="actualiteModal" tabindex="-1" aria-labelledby="actualiteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="actualiteModalLabel">Détails de la commande</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Informations à afficher dans le modal -->
          <p><strong>Nom:</strong> Remail Kouadio</p>
          <p><strong>Numéro de commande:</strong> #45DT57788839</p>
          <p><strong>Moyen de paiement:</strong> Carte bancaire</p> <!-- Modifié pour rendre l'exemple plus réaliste -->
          <p><strong>Montant à payer:</strong> 11 861 000 CFA</p>
          <p><strong>Détails supplémentaires:</strong> Ceci est un exemple de commande et de paiement.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>