<!-- Sidebar -->


<div class="sidebar" style="max-width: 300px;">

    <div style="height: 100%;display: flex;flex-direction: column;">


        <div class="sidebar-logo">
            <!-- Logo Header -->
            <div class="logo-header" style="width: 100%;">
                <a routerLink="/dashboard" class="logo border-bottom" style="margin: 0 auto;">
                    <!-- <img src="assets/img/logo.png" alt="navbar brand" class="navbar-brand" height="40" /> -->
                    <div class="logo-name">
                        <img src="assets/img/logo-day.png" height="70"
                            style="margin-left: 15px;padding-bottom: 10px;" />
                    </div>
                </a>

            </div>
            <!-- End Logo Header -->
        </div>
        <div style="display: flex;padding-left: 30px;">
            <div
                style="width: 70px;height: 80vh;background-color: #FFEEF0;border-radius: 50px;margin-top: 20px;display: flex;align-items: center;justify-content: start;flex-direction: column;padding-top: 30px;gap: 30px;">
                <div style="display: flex-column;">
                    <div *ngFor="let item of menu" >
                        <div
                        *ngIf="item?.routerLink"
                        [routerLink]="item?.routerLink"
                        [ngStyle]="{
                            'border':pathActuel == item.label.toLowerCase()?'1px solid #FF9500':'none',
                            'padding':'5px',
                            'cursor':item?.routerLink ? 'pointer' :'not-allowed',
                            'border-radius':'10px',
                            'margin-top':'30px'
                            }"
                         > 
                         <img [src]="item.iconDesactive" height="25" />
                        </div> 
                     </div>
                </div>
            </div>
            <div class="sidebar-wrapper scrollbar scrollbar-inner"
                style="min-width: 200px !important;margin-right: 10px !important;box-shadow: none;">
                <div class="sidebar-content der">

                    <!-- si on est dans 2 -->
                    <ul class="nav nav-secondary der" >
                        <li style="padding-left: 0;margin-left: 10px;">
                            <a style="margin-left: 0;padding-left: 0;color: black;font-weight: bolder;">

                                <p class="border-bottom">{{menuDroite?.label}}</p>

                            </a>
                        </li>

                        <div  *ngFor="let opt of menuDroite?.children" >
                            <li
                            *ngIf="opt?.routerLink && !opt?.children"
                            ngClass="{{opt?.routerLink == urlActuelle ? 'active' : ''}}" class="nav-item" style="padding-left: 0;margin-left: 10px;">
                                <a [routerLink]="opt?.routerLink" 
                                style="padding-left: 0;margin-left: 0; display: flex;align-items: center;text-align: center;">
                                    <img [src]="opt?.iconActive" height="20" style="margin-right: 15px;margin-left: 0.5rem;" />
                                    <p style="margin-bottom: 0;margin-top: 0.1rem;">{{opt?.label}}</p>
                                </a>
                            </li>

                            <div class="dropdown" style="padding-left: 0;margin-left: 0;height:2.8rem;" *ngIf="opt?.children">
                                <button class="btn btn-default dropdown-toggle " type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"
                                    style="font-size: 15px; border: none;font-weight: bolder;margin-left: 0;">
                                    <img [src]="opt.iconActive" height="20"
                                        style="margin-right: 15px;margin-left: 0.5rem;" />

                                    <span style="margin-left: 1px;color: #6a6a6a;" >{{opt?.label}}</span>
                                </button>
                                <ul class="dropdown-menu " role="menu"
                                    style="width: 235px;background-color: rgb(255, 245, 247);">
                                    <div *ngFor="let opt2 of opt?.children" >
                                        <li
                                        style="display: flex;align-items: center;justify-content: center;gap: 20px;padding-left: 10px;padding-left: 0;margin-left: 0;">
                                        <img [src]="opt2.iconActive" height="20" style="margin-left: 10px;" />
                                        <a class="dropdown-item" [routerLink]="opt2?.routerLink">{{opt2?.label}}</a>
                                    </li>
                                    </div>

                                </ul>
                            </div>

                        </div>
                       
                     



                        <li style="padding-left: 0;margin-left: 10px;" *ngIf="menuDroite?.options">
                            <a style="margin-left: 0;padding-left: 0;color: black;font-weight: bolder;">

                                <p class="border-bottom">Options</p>

                            </a>
                        </li>

                        <div  *ngFor="let opt of menuDroite?.options" >
                            <li
                            *ngIf="opt?.routerLink"
                            ngClass="{{opt?.routerLink == urlActuelle ? 'active' : ''}}" class="nav-item" style="padding-left: 0;margin-left: 10px;">
                                <a [routerLink]="opt?.routerLink"
                                 style="padding-left: 0;margin-left: 0;display: flex;align-items: center;text-align: center;">
                                    <img [src]="opt?.iconActive" height="20" style="margin-right: 15px;margin-left: 0.5rem;" />
                                    <p style="margin-bottom: 0;margin-top: 0.1rem;">{{opt?.label}}</p>
                                </a>
                            </li>
                        </div>
                       
                       



                    </ul>
                   
                </div>
            </div>




        </div>
    </div>
</div>

<!-- End Sidebar -->


