
<div class="container-fluid p-3" style="background-color: white">

    <div class="row d-flex p-3 box-1">
      <div class="d-flex justify-content-between mb-3 mb-md-0 col-md-9" id="moedp">
        <button
          class="btn btn-primary btn-border btn-round w-50 me-3"
          (click)="handleFilter('')"
          [class.active]="filterStatus === ''"
        >
          Tout
        </button>
        
        <button
          class="btn btn-primary btn-border btn-round w-50"
          (click)="handleFilter('pending')"
          [class.active]="filterStatus === 'pending'"

        >
          Attente
        </button>
        <button
          class="btn btn-primary btn-border btn-round w-50 me-3"
          (click)="handleFilter('in_progress')"
          [class.active]="filterStatus === 'in_progress'"

        >
          En cours
        </button>
        <button
          class="btn btn-primary btn-border btn-round w-50 me-3"
          (click)="handleFilter('validated')"
          [class.active]="filterStatus === 'validated'"
        >
          Livrée
        </button>
        <button
          class="btn btn-primary btn-border btn-round w-50"
          (click)="handleFilter('canceled')"
          [class.active]="filterStatus === 'canceled'"
        >
          Annulées
        </button>
      </div>
      <div class="col-md-3 ms-auto d-flex justify-content-end">
          
        <div class="dropdown">
          <!-- par defaut -->
          <button
        
            style="
           
              border: none;
              background-color: white;
            "
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          <img src="assets/img/filtre.png" alt="" width="30" height="30" />
          </button>
          <ul class="dropdown-menu" style="background-color: white;border-bottom-right-radius: 20px;border-bottom-left-radius: 20px;">
            <li>
              <p
                class="dropdown-item mb-1 text-center"

                >Filtrer</p
              >
            </li>
            <li>
              <a
                class="dropdown-item mb-1 text-center"
                
                >Commandes client</a
              >
            </li>
            <li>
              <a
                class="dropdown-item mb-1 text-center"

                >commandes personnel</a
              >
            </li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content" id="nav-tabContent">

      <div >
       
        <ng-container >
          <ng-container *ngFor="let order of dataset; let i = index" >
            <div
            (click)="openDialog(order)"
              class="row box-2"
              style="padding-bottom: 0"
            >
              <div
                class="col-12 d-flex flex-wrap order-row align-items-center mb-0"

              >

                <div
                  class="order-item d-flex align-items-center order-item-large"
                >
                  <img
                    class="product-image"
                    [src]="order?.items[0]?.product?.images[0]"
                    alt="Product Image"
                    routerLink="/orders/details_coord"

                  />
                  <div class="product-info">
                    <span class="product-name" 
                      >{{order?.items[0]?.product?.name}}</span
                    >
                    <p><small class="">{{order?.items[0]?.reference}}</small></p>
                    <small>{{order?.created_at | date }}</small>
                  </div>
                </div>
                <!-- prix -->
                <div class="order-item">
                  <p class="label">Total à payer</p>
                  <p class="value" style="color: #0055ff">
                    {{order?.items[0]?.total | currency : "XOF"}}
                  </p>
                </div>
                <!-- livraison -->
                <div class="order-item">
                  <p class="label">Lieux de livraison</p>
                  <p class="value" style="color: #0055ff">
                    {{order?.delivery?.city?.name}}
                  </p>
                </div>
                <!-- business -->
                <div class="order-item">
                  <div class="forue112" style="border-right: 1px solid #ccc">
                    <!-- non solder -->
                    <div
                      class="cersle"
                      [ngStyle]="{
                        'background-image': order?.items[0]?.product?.shop?.business?.logo ? 'url(' + order.items[0].product.shop.business.logo + ')' : 'none',
                        'background-size': 'cover',
                        'background-repeat': 'no-repeat',
                        'background-color': order?.items[0]?.product?.shop?.business?.logo ? 'transparent' : 'red'
                      }"
                      style="
                        background-color: transparent;
                        margin: 0px !important;background-color: red;
                      "
                    >
                      
                    </div>
                    <div class="cersle2" style="margin-left: 20px">
                      <small style="font-weight: bolder; font-size: 0.7rem"
                        >{{order?.items[0]?.product?.shop?.name}}
                      </small>
                      <p
                        class="value text-danger"
                        style="
                          font-weight: bolder;
                          font-size: 0.6rem;
                          margin: 0px !important;
                          color: #0055ff;
                        "
                      >
                      {{order?.items[0]?.product?.shop?.business?.name}}
                      </p>
                      <p
                        class="value"
                        style="
                          font-weight: bolder;
                          font-size: 0.6rem;
                          margin: 0px !important;
                          color: #0055ff;
                        "
                      >
                      {{order?.items[0]?.product?.shop?.address}} {{order?.items[0]?.product?.shop?.city?.name}}
                      </p>
                    </div>
                  </div>
                </div>
                <!-- status -->
                <div
                  class="order-item order-item-large"
                  style="background-color: white"
                >
                  <div
                    style="
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      gap: 40px;
                      width: 100%;
                      background-color: white;
                    "
                  >
                    <small>Statut</small>
                    <small>eezz</small>
                  </div>
                  <div style="margin-left: 2px; margin-top: 10px; width: 100%">
                    <button
                    [ngStyle]="{
                      'background-color': getButtonColor(order.status)
                    }"
                      style="
                        width: 100%;
                        padding-bottom: 10px;
                        padding-top: 10px;
                        border: none;
                        color: white;
                        border-radius: 4px;
                        background-color: green;
                      "
                    >
                    {{ getButtonText(order.status) }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
  
        </ng-container>
  
      </div>
    </div>
  </div>


  