<div class="container-fluid mt-5 p-3">
  <div class="tab-content">
    <div class="tab-pane fade show active" id="nav-home">
      <div *ngIf="isLoading" class="loader-container">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <div *ngIf="!isLoading && product">
        <div class="pt-2 px-3">
          <!-- Search and Filter -->
          <div class="row mt-1 p-2">
            <div
              class="col-12 d-flex justify-content-between align-items-center pt-2 pb-2"
              style="
                background-color: #f8f8fb;
                border-bottom: 1px solid #c4c4c4;
              "
            >
              <div class="col-4 d-flex align-items-center">
                <img
                  src="assets/img/icons/fleche.png"
                  style="margin-right: 10px; cursor: pointer"
                  alt=""
                  width="25"
                  height="25"
                  routerLink="/products/"
                />
                <p class="mb-0">Aperçu</p>
              </div>
              <div class="col-8 d-flex justify-content-end align-items-center">
                <div class="input-group me-5" style="width: 10%">
                  <span
                    class="badge text-bg-primary"
                    [ngClass]="{
                      'bg-success': product.stock > 0,
                      'bg-danger': product.stock <= 0
                    }"
                    >{{ product.stock > 0 ? "En vente" : "Hors stock" }}</span
                  >
                </div>

                <div class="input-group" style="width: 20%">
                  <span
                    class="badge text-bg-primary"
                    [ngClass]="{
                      'bg-success': product.publish === 1,
                      'bg-danger': product.publish === 0,
                      'bg-warning': product.publish === null
                    }"
                  >
                    {{
                      product.publish === 1
                        ? "Publier"
                        : product.publish === 0
                        ? "Non conforme"
                        : "En cours de validation"
                    }}
                  </span>
                </div>

                <div
                  style="
                    height: 50px;
                    background-color: white;
                    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.071);
                    border-radius: 5px;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 3px;
                  "
                >
                  <p class="card-price" style="font-size: 0.9rem; color: black">
                    {{ product.created_at_fr }} <br />
                    <span style="font-size: 0.7rem; color: gray">{{
                      product.created_at | date : "HH:mm"
                    }}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- Cards -->
          <!-- images -->
          <div class="mt-3" style="display: flex; gap: 10px; flex-wrap: wrap">
            <div
              *ngFor="let img of product.images"
              class="iamge1"
              style="width: 230px; height: 150px"
              (click)="openImageModal(img)"
            >
              <img
                [src]="img || 'assets/img/placeholder.png'"
                alt="Product Image"
                height="100%"
                width="100%"
                style="border-radius: 5px; margin-right: 3px"
              />
            </div>
          </div>
          <!-- contenu -->
          <div class="mt-3" style="display: flex; gap: 10px; flex-wrap: wrap">
            <!-- bloc1 -->
            <div
              style="
                width: 30%;
                min-width: 350px;
                height: 250px;
                border: 1px solid #c4c4c4;
                border-radius: 10px;
              "
            >
              <p
                class="mb-0"
                style="
                  font-size: 1rem;
                  padding-left: 10px;
                  padding-right: 10px;
                  color: black;
                  font-weight: bolder;
                "
              >
                {{ product.name }}
              </p>
              <p
                class="mb-0"
                style="
                  font-size: 0.9rem;
                  padding-left: 10px;
                  padding-right: 10px;
                  color: black;
                  padding-top: 30px;
                "
              >
                Prix d'en gros
              </p>
              <p
                class="mb-0"
                style="
                  font-size: 0.9rem;
                  padding-left: 10px;
                  padding-right: 10px;
                  color: #3688fa;
                "
              >
                {{ product.price.price | currency : "FCFA" }}
              </p>
              <p
                class="mb-0"
                style="
                  font-size: 0.9rem;
                  padding-left: 10px;
                  padding-right: 10px;
                  color: black;
                  padding-top: 30px;
                "
              >
                Stocks {{ product.stock }} pièces
              </p>
              <p
                class="mb-0"
                style="
                  font-size: 0.9rem;
                  padding-left: 10px;
                  padding-right: 10px;
                  color: black;
                  font-weight: bolder;
                  padding-top: 10px;
                "
              >
                N°{{ product.code }}
              </p>
            </div>
            <!-- bloc2 -->
            <div
              style="
                width: 30%;
                min-width: 350px;
                height: 250px;
                border: 1px solid #c4c4c4;
                border-radius: 10px;
                overflow-y: scroll;
              "
            >
              <p
                class="mb-0"
                style="
                  font-size: 0.9rem;
                  padding-left: 10px;
                  padding-right: 10px;
                  color: black;
                "
              >
                Caracteristique
              </p>
              <p
                style="
                  font-size: 0.8rem;
                  padding-left: 10px;
                  padding-right: 10px;
                "
              >
                {{ product.alias }} <br />
                {{ product.description }}
              </p>
            </div>
            <!-- bloc3 -->
            <div
              style="
                width: 30%;
                min-width: 350px;
                height: 250px;
                border: 1px solid #c4c4c4;
                border-radius: 10px;
              "
            >
              <p
                class="mb-0"
                style="
                  font-size: 0.9rem;
                  padding-left: 10px;
                  padding-right: 10px;
                  color: black;
                "
              >
                État du produit :
                <span style="color: orange">
                  {{ product.state.name.toLocaleUpperCase() }}</span
                >
              </p>
              <div
                style="
                  width: 100%;
                  height: 30px;
                  display: flex;
                  align-items: center;
                  padding-right: 10px;
                "
              >
                <div style="width: 40%; height: 10px">
                  <p
                    class="mb-0"
                    style="
                      font-size: 0.9rem;
                      padding-left: 10px;
                      padding-right: 10px;
                      color: black;
                    "
                  >
                    Taille du produit
                  </p>
                </div>
                <div
                  style="
                    border-bottom: 1px solid #c4c4c4;
                    width: 60%;
                    height: 10px;
                  "
                ></div>
              </div>
              <div
                style="
                  width: 100%;
                  display: flex;
                  align-items: center;
                  padding-right: 10px;
                  flex-wrap: wrap;
                  gap: 10px;
                  padding-top: 10px;
                  padding-left: 10px;
                "
              >
                <p
                  *ngFor="let size of product.sizes"
                  style="
                    background-color: orange;
                    padding: 2px 10px;
                    border-radius: 20px;
                    font-size: 0.8rem;
                    color: white;
                  "
                >
                  {{ size }}
                </p>

                <p
                  *ngIf="!product.sizes?.length"
                  style="color: gray; font-size: 0.9rem"
                >
                  RAS
                </p>
              </div>
              <div
                style="
                  width: 100%;
                  height: 30px;
                  display: flex;
                  align-items: center;
                  padding-right: 10px;
                "
              >
                <div style="width: 40%; height: 10px">
                  <p
                    class="mb-0"
                    style="
                      font-size: 0.9rem;
                      padding-left: 10px;
                      padding-right: 10px;
                      color: black;
                    "
                  >
                    Couleur du produit
                  </p>
                </div>
                <div
                  style="
                    border-bottom: 1px solid #c4c4c4;
                    width: 60%;
                    height: 10px;
                  "
                ></div>
              </div>
              <div
                style="
                  width: 100%;
                  display: flex;
                  align-items: center;
                  padding-right: 10px;
                  flex-wrap: wrap;
                  gap: 10px;
                  padding-top: 10px;
                  padding-left: 10px;
                "
              >
                <p
                  *ngFor="let color of product.colors"
                  style="
                    background-color: black;
                    padding: 2px 10px;
                    border-radius: 20px;
                    font-size: 0.5rem;
                    color: white;
                  "
                >
                  {{ color }}
                </p>

                <p
                  *ngIf="!product.colors?.length"
                  style="color: black; font-size: 0.9rem"
                >
                  RAS
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- footer -->
        <div class="forue mt-3">
          <div class="forue1">
            <div class="forue11" style="border-left: 1px solid #ccc;">
              <small style="font-weight: bolder; font-size: 0.7rem"
                >{{product.shop.business.name}}</small
              >
              <p style="font-size: 0.5rem">{{product.shop.updated_at | date: 'dd/mm/yy hh:mm'}}</p>
            </div>
            <div
              class="d-flex justify-content-center align-items-center px-5"
              style="border-left: 1px solid #ccc"
            >
              <div>
                <small style="font-weight: bolder; font-size: 0.7rem">{{
                  product.shop.business.name
                }}</small>
                <p style="font-size: 0.5rem">
                  {{ product.shop.updated_at | date : "dd/mm/yy hh:mm" }}
                </p>
              </div>
            </div>
            <div
              class="d-flex justify-content-center align-items-center"
              style="border-left: 1px solid #ccc"
            >
              <div class="mx-3">
                <img
                  class="img-circle"
                  [src]="product.shop.business.logo"
                  alt=""
                  style="
                    width: 40px !important;
                    height: 40px !important;
                    border-radius: 100%;
                  "
                />
              </div>
              <div>
                <small style="font-weight: bolder; font-size: 0.7rem">{{
                  product.shop.business.name
                }}</small>
                <p style="font-size: 0.5rem">
                  {{ product.shop.updated_at | date : "dd/mm/yy hh:mm" }}
                </p>
              </div>
            </div>

            <div class="forue112">
              <img class="img-circle" [src]="product.shop.business.logo" alt="" width="120" height="60">
              <div class="cersle2" style="width: 1000px !important;">
                <small style="font-weight: bolder; font-size: 0.6rem"
                  >{{product.shop.business.name.toLocaleUpperCase()}}
                </small>

                <p style="font-size: 0.5rem">{{product.shop.code}} <br />{{product.shop.business.address}}</p>
              </div>
            </div>
          </div>
          <div class="forue2">
            <!-- Default dropup button -->
            <div class="btn-group dropup">
              <button
                type="button"
                style="
                  background-color: white;
                  width: auto;
                  border: 1px solid black;
                  padding: 5px 50px 5px 50px;
                  border-radius: 20px;
                  color: black;
                  position: relative;
                "
                class="btn dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <img
                  src="assets/img/update.png"
                  style="
                    margin-right: 10px;
                    position: absolute;
                    left: 10px;
                    top: 4px;
                  "
                  alt=""
                  width="20"
                  height="20"
                  routerLink="/orders/"
                />
                Marquer
              </button>
              <ul
                class="dropdown-menu"
                style="padding-left: 5px; padding-right: 5px"
              >
                <div
                  *ngIf="product.publish == 0 && product.publish == null"
                  class="dropdown-item w-auto heigth_style"
                  style="
                    cursor: pointer;
                    background-color: white;
                    color: black;
                    border-bottom: 1px solid rgb(231, 231, 231);
                    padding-bottom: 5px;
                  "
                  (click)="hideProduct()"
                >
                  Masquer
                </div>
                <div
                  class="dropdown-item w-auto"
                  style="
                    cursor: pointer;
                    background-color: white;
                    color: black;
                    border-bottom: 1px solid rgb(231, 231, 231);
                    padding-bottom: 5px;
                  "
                  routerLink="/products/publish/{{ product.id }}"
                >
                  Modifier les infos
                </div>
                <div class="dropdown-item w-auto" 
                (click)="deleteProduct()"
                style="cursor: pointer; background-color: white; color: black; border-bottom: 1px solid rgb(231, 231, 231); padding-bottom: 5px;">
             Supprimer
           </div>
                <div
                  *ngIf="product.publish == null || product.publish == 0"
                  class="dropdown-item w-auto"
                  style="
                    cursor: pointer;
                    background-color: white;
                    color: black;
                    border: none;
                    padding-bottom: 5px;
                  "
                  (click)="markAsNonCompliant()"
                >
                  Non conforme
                </div>
              </ul>
            </div>
            <button
              *ngIf="product.out_stock < 0"
              style="
                background-color: white;
                width: auto;
                border: 1px solid orange;
                padding: 5px 50px 5px 50px;
                border-radius: 20px;
                color: orange;
              "
              routerLink="/products/add"
            >
              Mettre en stock
            </button>
            <button
              *ngIf="product.publish == null || product.publish == 0"
              style="
                background-color: orange;
                width: auto;
                border: 1px solid orange;
                padding: 5px 50px 5px 50px;
                border-radius: 20px;
                color: white;
              "
              routerLink="/products/publish/{{ product.id }}"
            >
              Publier
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal pour afficher l'image en grand -->
<div
  *ngIf="selectedImage"
  class="image-modal"
  (click)="closeImageModal()"
  style="
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
  "
>
  <img
    [src]="selectedImage"
    alt="Selected Product Image"
    style="max-width: 85%; max-height: 70%; border-radius: 10px"
  />
</div>
