<div class="container-fluid p-3">
    <!-- Button Group -->
    <div class="row d-flex p-3 box-1">
        <div class="col-md-9 d-flex justify-content-between mb-3 mb-md-0">
            <div class="w-100">
                <div class="d-flex" style="height: 130px;gap: 10px;">
                    
                  
                    <div class="col-4" style="height: 100%!important;">
                        <div class="card card-stats card-round card-2" style="height: 100%;">
                            <div class="card-body border-0" style="background-color: #F1EEFF;">
                                <div class="row align-items-center">


                                    <div class="numbers">
                                        <div >
                                            <h4 class="card-category">
                                                <b style="color: #6f6f6f">Les Standards</b>
                                            </h4>
                                           

                                        </div>

                                        
                                        <h3>{{totalStandard}}</h3>
                                        <div class="card-category" style="display: flex;justify-content: space-between;">
                                           <p>Aujourd'hui</p> 
                                           <p class="card-title">{{totalStandardByDate}}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4" style="height: 100%!important;">
                        <div class="card card-stats card-round card-3" style="height: 100%;">
                            <div class="card-body border-0" style="background-color: #D3F0FF;">
                                <div class="row align-items-center">


                                    <div class="numbers">
                                        <div style="display: flex;justify-content: space-between;">
                                            <h4 class="card-category">
                                                <b style="color: #6f6f6f">Les recrutés</b>
                                            </h4>
                                            

                                        </div>

                                        <h3>{{totalRecrutes}}</h3>
                                        <div class="card-category " style="display: flex;justify-content: space-between;">
                                           <p>Aujourd'hui</p> 
                                           <p class="card-title">{{totalRecrutesByDate}}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-3 ms-auto d-flex justify-content-end">
            <img src="assets/img/ored.png" alt="Product Image" height="20">
        </div>
    </div>

    <div class="tab-content" id="nav-tabContent">
        <div class="active" id="nav-home">
            <div class="pt-2 px-3">
                <!-- Search and Filter -->
                <div class="row mt-1 p-2" style="background-color: white;">
                    <div class="col-12 d-flex justify-content-between align-items-center pt-2 pb-2"
                        style="background-color: white; border-bottom: 1px solid #c4c4c4">
                        <div class="col-6 d-flex gap-2">
                            <button style="background-color: #FFA11E!important;color: white;"
                                class="btn btn-border btn-round btn-add button_style" routerLink="/products/add">
                                Les standards
                            </button>
                            <button style="border:1px solid black!important;background-color: white!important;"
                                class="btn btn-round btn-add button_style" routerLink="/products/add">
                                Les Recrutés
                            </button>
                        </div>
                        <div class="col-8 d-flex justify-content-center align-items-center">
                            <div class="input-group me-2" style="width: 50%">
                                <div class="input-group search-bar">
                                    <input type="text" placeholder="Recherche" class="form-control" />

                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            <span class="input-group-bar"></span>
                                            <i class="fa fa-search search-icon"></i>
                                        </span>
                                    </div>
                                </div>
                                <!-- <span class="input-group-text rounded-end" style="border-top-right-radius: 50px; border-bottom-right-radius: 50px;">
                      <i class="fa fa-search"></i>
                    </span> -->
                            </div>

                        </div>
                    </div>
                </div>

                <div *ngFor="let seller of dataset; let i = index">
                    <div
                    (click)="openDialog(seller.id)" role="button"
                    class="row box-2 mb-5" style="padding-bottom: 0;background-color: white;box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);border-radius: 10px;">
                        <div class="col-12 d-flex flex-wrap order-row align-items-center mb-0 ">
                            <div
                            
                            class="order-item d-flex align-items-center order-item-large border-end"><img
                                    [src]="seller?.picture_path ? seller?.picture_path :  'assets/img/leuser.jpg'" alt="Product Image" class="product-image" routerLink="/users/detail">
                                <div class="product-info">
                                    <span class="product-name text-truncate" style="color: black;max-width: 120px;">
                                     {{seller?.seller?.first_name}} {{seller?.seller?.last_name}}
                                    </span>
                                    <p><small>{{seller?.seller?.city}}</small></p>
                                </div>
                            </div>
                            <div class="px-5 border-end">
                                <p class="label text-center">DATE D'INSCRIPTION</p>
                                <p class="value text-center" style="color: #0055ff;"> {{seller?.created_at | date}} </p>
                            </div>
                            <div class="px-5 border-end">
                                <p class="label text-center">PRODUITS VENDUS</p>
                                <p class="value text-center" style="color: #0055ff;"> {{seller?.seller?.total_products_sold}} </p>
                            </div>
                            
                            <div class="px-5 border-end">
                                <p class="label text-center">ETOILES </p>
                                <!-- <p class="value text-center" style="color: #0055ff;"> -->
                                    <!-- <div  *ngFor="let star of [].constructor(seller?.seller?.stars)">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div> -->
                                    <div class="" >
                                        <ng-container *ngFor="let star of fullStars(seller?.seller?.stars)">
                                            <span style="color: #ffe600;font-size: 24px;">★</span>
                                            
                                        </ng-container>
                                        <ng-container *ngFor="let star of emptyStars(seller?.seller?.stars)">
                                            <span style="color: #ffee54;font-size: 24px;">☆</span>
                                           
                                        </ng-container>
                                      </div>
                                  
                                    
                                <!-- </p> -->
                            </div>
                            
                            
                            <div class="px-5">
                                <p class="label text-center">SOLDE ACTUEL </p>
                                <p class="value text-center" style="color: #0055ff;">{{seller?.wallet ? seller?.wallet?.total_amount : 0}} Fcfa </p>
                            </div>
                        </div>
                    </div>  
                </div>
                
            </div>
        </div>
    </div>


    <!-- Modal d'Information -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoModalLabel">Détails de la commande</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Informations à afficher dans le modal -->
          <p><strong>Nom:</strong> Remail Kouadio</p>
          <p><strong>Numéro de commande:</strong> #45DT57788839</p>
          <p><strong>Moyen de paiement:</strong> Carte bancaire</p> <!-- Modifié pour rendre l'exemple plus réaliste -->
          <p><strong>Montant à payer:</strong> 11 861 000 CFA</p>
          <p><strong>Détails supplémentaires:</strong> Ceci est un exemple de commande et de paiement.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
  
</div>