/* LOADER */
.loader-container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 30vh !important;
}

.spinner-border {
  width: 4rem !important;
  height: 4rem !important;
  color: #ff9500 !important;
}
/* END LOADER   */

/* CARD START */

.btn.active {
  background-color: blue;
  color: white; /* Optionally, change the text color as well */
}


.product-card {
  width: 100%;
  max-width: 300px;
  height: auto !important;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  flex: 1;
}

.card-1 .card-body {
  border: 1px solid #3688fa;
  border-radius: 10px;
}

.card-1 .card-title {
  font-size: 1.5rem;
  color: #3688fa;
  text-transform: uppercase;
}

.card-2 .card-body {
  border: 1px solid #f87957;
  border-radius: 10px;
}

.card-2 .icon {
  background-color: #f87957;
}

.card-2 .card-title {
  font-size: 1.5rem;
  color: #f87957;
  text-transform: uppercase;
}

.card-3 .card-body {
  border: 1px solid #36c600;
  border-radius: 10px;
}

.card-3 .icon {
  background-color: #36c600;
}

.card-3 .card-title {
  font-size: 1.5rem;
  color: #36c600;
  text-transform: uppercase;
}

.card-4 .card-body {
  border: 1px solid #ff9500;
  border-radius: 10px;
}

.card-4 .icon {
  background-color: #ff9500;
}

.card-4 .card-title {
  font-size: 1.5rem;
  color: #ff9500;
  text-transform: uppercase;
}

/* CARD END */

button.btn.active {
  background-color: #3688fa !important;
  border-color: 1px solid #3ca2ff !important;
  color: #ffffff !important;
}

/* CONTENU START */
.container-fluid {
  width: auto !important;
  background-color: #ffffff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.container-fluid .box-1 {
  justify-content: flex-end !important;
  border-bottom: #00000029 1px solid;
  width: inherit;
}

.container-fluid .box-1 .btn {
  border: 1px solid #c4c4c4 !important;
  color: #707070;
}

.container-fluid .box-1 .btn-add {
  background-color: #ff9500 !important;
  border: 1px solid #ff9500 !important;
  color: #fff !important;
}

.container-fluid .dropdown .btn-tri {
  border: 1px solid #c4c4c4 !important;
  color: #707070 !important;
}

.container-fluid .box-1 .btn:hover,
.container-fluid .box-1 .btn:focus {
  background-color: #3688fa !important;
  border: 1px solid #3ca2ff !important;
  color: #fff !important;
  font-weight: 700;
}

.container-fluid .box-1 .btn-add:hover,
.container-fluid .box-1 .btn-add:focus {
  background-color: #ff9500 !important;
  border: 1px solid #ff9500 !important;
  color: #fff !important;
  font-weight: 400;
}

/* General Card Styles */
.product-card {
  width: 100%;
  background-color: #ffffff;
  position: relative;
  border-color: #f8f8fb;
}

.product-card .badge {
  position: absolute;
  top: 10px;
  right: 10px;
}

.product-card .card-img-top {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card .card-body {
  padding: 1rem;
}

.product-card .card-title {
  margin-top: 0;
}

.product-card .card-price {
  font-weight: bold;
  color: #3688fa;
}

.product-card .stock-number {
  color: #3688fa !important;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .product-card .card-img-top {
    height: 300px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

/* CONTENU END */

.search-bar {
  position: relative;
  width: 500px;
}
.search-bar .form-control {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 20px !important;
  transition: border-color 0.3s ease;
}

.input-group {
  margin-right: 15px;
}

.input-group-append {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.input-group-text {
  background: transparent;
  border: none;
  padding-right: 10px;
}

.input-group-bar {
  width: 1px;
  height: 20px;
  background-color: #999;
  margin-right: 6px;
}
