
  <ng-container>
    
    <div class="container-fluid mt-5 p-3">
      
      <div class="row box-2" style="background-color: #ffffff; border-bottom: 1px solid #c4c4c4">
        <div style="width: 30%">
          <div class="form-check">
            <img src="assets/img/fleche.png" style="margin-right: 10px" alt="" width="10" height="10"
              routerLink="/orders/list_coord" />
            <label class="form-check-label custom-label" style="text-transform: uppercase;" for="flexRadioDefault1">
              Nouvelle commande <span style="color: orange;text-transform: lowercase;font-weight: bolder;">( Achat personnel )</span>
            </label>
          </div>
        </div>
  
        <div class="d-flex justify-content-end align-items-center gap-3" style="width: 70%; flex-wrap: wrap">
          <button type="button" class="btn btn-light text-warning border-warning"  data-bs-toggle="modal" data-bs-target="#exampleModal">
            APPELER
          </button>

         
            <button class="btn btn-ligth dropdown-toggle" style="border: 1px solid gainsboro;background-color: rgba(246, 246, 246, 0.509);" type="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              MARQUER
            </button>
            <ul class="dropdown-menu" style="z-index: 99999999999999999;position: absolute;">
              <li>
                <a class="dropdown-item btn btn-primary text-white mb-1">En cours de traitement</a>
              </li>
              <li>
                <a class="dropdown-item btn btn-warning text-white mb-1">Décroche pas</a>
              </li>
              <li>
                <a class="dropdown-item btn btn-success text-white mb-1">Reporter</a>
              </li>
              <li>
                <a class="dropdown-item btn btn-danger text-white mb-1" data-bs-toggle="modal"
                  data-bs-target="#annuleModal">Annuler</a>
              </li>
            </ul>

          <button type="button" class="btn btn-warning text-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Valider ma commande
          </button>
        </div>
      </div>
  
      <div class="row box-3">
        <div class="col-xl-4" style="
            background-color: white;
            margin-bottom: 10px;
            border-radius: 10px;
          ">
          <div class="comman12">
            <div class="omdm1" >
              <img src="assets/img/lp1.png" alt="Product Image" height="100%" width="100%"
                style="border-radius: 20px" />
            </div>
            <div class="omdm2">
              <h5 class="card-title mt-0">sdfghjkl</h5>
              <small>sdfghjkl</small>
              <div style="padding-top: 50px">
                <small>Stock 89/1 Pieces</small>
                <p>N°sdfghjkl</p>
              </div>
            </div>
          </div>
        </div>
  
        <!-- bloc top right -->
        <div class="col-xl-8" style="height: 200px; margin-bottom: 10px">
          <div class="comman13" style="padding-top: 10px">
            <!-- type livraison -->
            <div class="inforcom">
              <div class="cartond1">
                <div class="carte1">
                  <img src="assets/img/carton.png" alt="Product Image" height="90%" width="70%"
                    style="border-radius: 20px" />
                </div>
                <div class="carte2">
                  <small style="font-size: 0.8rem; color: black">TYPE DE LIVRAISON</small>
                  <div>
                    <small style="font-size: 0.6rem">A Domicile</small>
                    <p style="font-size: 0.7rem">N°234567890</p>
                  </div>
                </div>
              </div>
              <div class="cartond2">
                <small style="font-size: 0.8rem; color: black; padding-top: 10px;padding-right: 10px;">
                  Boutique Lenovo
                </small>
              </div>
            </div>
           
            <div class="ertehj" style="padding-top: 30px;">
              <!-- step -->
            </div>
            
  
          </div>
        </div>
  
        <div class="col-md-6" style="
            background-color: white;
            height: 350px;
            margin-bottom: 10px;
            border-radius: 10px;
          ">
          <p style="text-align: center; padding-top: 10px">
            DETAIL DE LA COMMANDE
          </p>
          <hr />
          <div style="
              display: flex;
              height: 40px;
              width: 100%;
              background-color: white;
              align-items: center;
              justify-content: space-between;
            ">
            <small>Taille du produit</small>
            <small style="text-align: center; padding-top: 10px">sdfghjkl</small>
          </div>
          <div style="
              display: flex;
              height: 40px;
              width: 100%;
              background-color: white;
              align-items: center;
              justify-content: space-between;
            ">
            <small>Couleur du produit</small>
            <small style="text-align: center; padding-top: 10px">sdfghjkl</small>
          </div>
          <div style="
              display: flex;
              height: 40px;
              width: 100%;
              background-color: white;
              align-items: center;
              justify-content: space-between;
            ">
            <small>Quantité</small>
            <small style="text-align: center; padding-top: 10px">sdfghjkl</small>
          </div>
          <div style="
              display: flex;
              height: 40px;
              width: 100%;
              background-color: white;
              align-items: center;
              justify-content: space-between;
            ">
            <small>Prix d'achat</small>
            <small style="text-align: center; padding-top: 10px">sdfghjkl</small>
          </div>
          <div style="
              display: flex;
              height: 40px;
              width: 100%;
              background-color: white;
              align-items: center;
              justify-content: space-between;
            ">
            <small>Livraison YAMOUSSOUKRO</small>
            <small style="text-align: center; padding-top: 10px">sdfghjkl</small>
          </div>
          <hr />
          <div style="
              display: flex;
              height: 40px;
              width: 100%;
              background-color: white;
              align-items: center;
              justify-content: space-between;
            ">
            <small style="color: black; font-weight: bolder">MONTANT A PAYER</small>
            <small style="
                text-align: center;
                padding-top: 10px;
                color: blue;
                font-weight: bolder;
              ">sdfghjkl</small>
          </div>
        </div>
  
        <div class="col-md-6" style="height: 350px; margin-bottom: 10px">
          <div style="
              width: 100%;
              background-color: white;
              height: 100%;
              padding-left: 10px;
              padding-right: 10px;
              border-radius: 10px;
            ">
            <p style="text-align: center; padding-top: 10px">
              DETAIL DE LA LIVRAISON
            </p>
            <hr />
            <div style="
                display: flex;
                height: 40px;
                width: 100%;
                background-color: white;
                align-items: center;
                justify-content: space-between;
              ">
              <small>Nom </small>
              <small style="text-align: center; padding-top: 10px">sdfghjkl</small>
            </div>
            <div style="
                display: flex;
                height: 40px;
                width: 100%;
                background-color: white;
                align-items: center;
                justify-content: space-between;
              ">
              <small>Contact</small>
              <small style="text-align: center; padding-top: 10px">sdfghjkl</small>
            </div>
            <div style="
                display: flex;
                height: 40px;
                width: 100%;
                background-color: white;
                align-items: center;
                justify-content: space-between;
              ">
              <small>Lieu de livraison</small>
              <small style="text-align: center; padding-top: 10px">sdfghjkl</small>
            </div>
            <div style="
                display: flex;
                height: 40px;
                width: 100%;
                background-color: white;
                align-items: center;
                justify-content: space-between;
              ">
              <small>Date de livraison</small>
              <small style="text-align: center; padding-top: 10px">sdfghjkl</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- footer -->
    <div class="forue">
      <div class="forue1">
        <div class="forue11">
          <small style="font-weight: bolder; font-size: 0.7rem">Lamine</small>
          <p style="font-size: 0.5rem">Il y'a 4 minutes</p>
        </div>
        <div class="forue112">
          <div class="cersle">
            <img src="assets/img/tex.png" style="border-radius: 100%" height="100%" width="100%" />
          </div>
          <div class="cersle2">
            <small style="font-weight: bolder; font-size: 0.7rem">Lamine </small>
  
            <p style="font-size: 0.5rem">Il y'a 4 minutes <br />ghjk</p>
          </div>
        </div>
        <div class="forue112">
          <div class="cersle">
            <img src="assets/img/tex.png" style="border-radius: 100%" height="100%" width="100%" />
          </div>
          <div class="cersle2">
            <small style="font-weight: bolder; font-size: 0.7rem">Lenovo </small>
  
            <p style="font-size: 0.5rem">Il y'a 4 minutes <br />ghjk</p>
          </div>
        </div>
       
      </div>
      <div class="forue2"></div>
    </div>
  
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
        </div>
      </div>
  
      <div class="fixed_fourn">
        <div class="fixed_fourn1">
          <form action="" method="post" class="formu_fourn">
            <div class="nominf">
              <p style="padding-top: 10px">Détail du marché</p>
              <img src="assets/img/fleche.png" alt="Product Image" height="15px"
                style="position: absolute; left: 20px" />
            </div>
            <div class="nominf1">
              <div class="nominf12">
                <div class="nomin112">
                  <label style="color: black">Quantité</label>
                  <input type="text" class="nomininp" />
                </div>
                <div class="nomin12">
                  <img src="assets/img/pouce.png" style="
                      filter: invert(7%) sepia(99%) saturate(7495%)
                        hue-rotate(247deg) brightness(102%) contrast(144%);
                    " alt="Product Image" height="15px" />
                </div>
              </div>
              <div class="nominf12">
                <div class="nomin112">
                  <label style="color: black">Prix grossiste</label>
                  <input type="text" class="nomininp" />
                </div>
                <div class="nomin12">
                  <img src="assets/img/pouce.png" style="
                      filter: invert(7%) sepia(99%) saturate(7495%)
                        hue-rotate(247deg) brightness(102%) contrast(144%);
                    " alt="Product Image" height="15px" />
                </div>
              </div>
              <div class="nominf12">
                <div class="nomin112">
                  <label style="color: black">Prix d'achat</label>
                  <input type="text" class="nomininp" />
                </div>
                <div class="nomin12">
                  <img src="assets/img/pouce.png" style="
                      filter: invert(7%) sepia(99%) saturate(7495%)
                        hue-rotate(247deg) brightness(102%) contrast(144%);
                    " alt="Product Image" height="15px" />
                </div>
              </div>
              <div class="nominf12">
                <div class="nomin112">
                  <label style="color: black">Revenue total</label>
                  <input type="text" class="nomininp" />
                </div>
                <div class="nomin12">
                  <img src="assets/img/pouce.png" style="
                      filter: invert(7%) sepia(99%) saturate(7495%)
                        hue-rotate(247deg) brightness(102%) contrast(144%);
                    " alt="Product Image" height="15px" />
                </div>
              </div>
              <div class="nominf12">
                <div class="nomin112">
                  <label style="color: black">50% de revenue</label>
                  <input type="text" class="nomininp" />
                </div>
                <div class="nomin12">
                  <img src="assets/img/pouce.png" style="
                      filter: invert(7%) sepia(99%) saturate(7495%)
                        hue-rotate(247deg) brightness(102%) contrast(144%);
                    " alt="Product Image" height="15px" />
                </div>
              </div>
              <!-- <div class="nominf12">
                <p style="padding-top: 10px;">NCC </p>
                <p style="padding-top: 10px;">34567-4567</p>
              </div>
              <div class="nominf12">
                <p style="padding-top: 10px;">N° FOURNISSEUR </p>
                <p style="padding-top: 10px;">345678567</p>
              </div>
              <div class="nominf12">
                <p style="padding-top: 10px;">CONTACT </p>
                <p style="padding-top: 10px;">34567890</p>
              </div>
              <div class="nominf12">
                <p style="padding-top: 10px;">VILLE/COMMUNE </p>
                <p style="padding-top: 10px;">MARCORY</p>
              </div>
              <div class="nominf12">
                <p style="padding-top: 10px;">LOCALISATION MAP </p>
                <p style="padding-top: 10px;">MAP LOGO</p>
              </div> -->
            </div>
            <div class="dosi">
              <div class="dosi1">
                <div style="
                    width: 100%;
                    height: 30px;
                    border-bottom: 1px solid gainsboro;
                    min-height: 30px;
                    padding-left: 10px;
                  ">
                  <p>Autres détails</p>
                </div>
                <div style="width: 100%; height: 80px">
                  <textarea name="" id="" style="resize: none; width: 100%; height: 100%; border: none"></textarea>
                </div>
              </div>
              <div class="dosi2">
                <div style="
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                  ">
                  <p style="padding-top: 5px">
                    Validité d'étoiles
  
                    <img src="assets/img/etoile.png" height="15px" />
                  </p>
                  <!-- <input type="radio" name="" id=""> -->
                  <div style="align-items: flex-start">
                    <div class="col">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                      </div>
                    </div>
                  </div>
                </div>
                <div style="
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                  ">
                  <p style="padding-top: 5px">
                    Validé les droits de parrainage 1000
                  </p>
                  <!-- <input type="radio" name="" id=""> -->
                  <div style="align-items: flex-start">
                    <div class="col">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <p style="padding-top: 30px; text-align: center">
              <button type="button" class="btn btn-success" style="padding-left: 80px; padding-right: 80px"
                data-bs-toggle="modal" data-bs-target="#exampleModal">
                Validation
              </button>
            </p>
            <div style="
                position: absolute;
                top: 70px;
                height: 30px;
                width: 30px;
                background-color: white;
                right: 40px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              ">
              <!-- <img src="assets/img/croix.png" alt="Product Image" height="15px"> -->
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  
    <!-- Modal -->
    <div class="modal fade" id="annuleModal" tabindex="-1" aria-labelledby="anuleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
        </div>
      </div>
  
      <div class="fixed_fourn">
        <div class="fixed_fourn1">
          <form action="" method="post" class="formu_fourn"
            style="height: 300px; background-color: white; position: relative">
            <p style="text-align: center; padding-top: 40px; color: black">
              Voulez-vous vraiment
              <span style="color: red; font-weight: bolder"> annuler</span> cette
              commande ?
            </p>
            <div class="nominf" style="
                padding: 0px;
                border-top: 1px solid gainsboro;
                background-color: white;
                border-bottom: none;
                position: absolute;
                bottom: 0;
              ">
              <div style="width: 50%; height: 100%; background-color: white">
                <button style="
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-right: 1px solid gainsboro;
                    background-color: white;
                  ">
                  Non
                </button>
              </div>
              <div style="width: 50%; height: 100%; background-color: white">
                <button style="
                    width: 100%;
                    height: 100%;
                    border: none;
                    background-color: white;
                  ">
                  Oui
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-container>


