
  <ng-container>
    
    <div [style]="{'margin-bottom':'25px'}" class="container-fluid mb-8 mt-5 p-3">
      
      <div class="row box-2" style="background-color: #ffffff; border-bottom: 1px solid #c4c4c4">
        <div style="width: 30%">
          <div class="form-check">
            <img src="assets/img/fleche.png" style="margin-right: 10px" alt="" width="10" height="10"
              routerLink="distribution/commandes/list_coord" />
            <label class="form-check-label custom-label" style="text-transform: uppercase;" for="flexRadioDefault1">
              Nouvelle commande <span style="color: orange;text-transform: lowercase;font-weight: bolder;">( Achat personnel )</span>
            </label>
          </div>
        </div>
  
        <div *ngIf="order?.status !== 'new'" class="d-flex justify-content-end align-items-center gap-3" style="width: 70%; flex-wrap: wrap">
        

         
          
          <div class="forue112" style="border: none">
            <!-- <div class="cersle" style="height: 30px;width: 30px;">
              <img src="assets/img/icons/croi.png"   height="100%" width="100%">
            </div> -->
            <div
              *ngIf="order?.status !== 'canceled'; else croixTemplate"
              class="cersle"
              style="height: 30px; width: 30px; background-color: transparent"
            >
              <img src="assets/img/check.png" height="100%" width="100%" />
            </div>
            <ng-template #croixTemplate>
              <div class="cersle" style="height: 30px; width: 30px">
                <img
                  src="assets/img/croi.png"
                  style="height: 30px; width: 30px; background-color: transparent"
                  alt=""
                />
              </div>
            </ng-template>
            <div class="cersle2">
              <p
                style="
                  font-size: 0.5rem;
                  padding-top: 10px;
                  width: 200px !important;
                "
              >
                Il y'a quelques minutes <br />
                <small
                  *ngIf="order?.status !== 'canceled'; else valide"
                  style="
                    font-weight: bolder;
                    font-size: 0.7rem;
                    color: rgb(0, 221, 0);
                  "
                  >SOLDER
                </small>
                <ng-template #valide>
                  <small
                    style="font-weight: bolder; font-size: 0.7rem; color: red"
                    >NON SOLDER
                  </small>
                </ng-template>
              </p>
              <!-- style="font-weight: bolder;font-size: 0.7rem;color: red;">NON SOLDER </small></p> -->
            </div>
          </div>
          <div class="forue11"></div>
          <small
            *ngIf="order?.status === 'canceled'; else valide"
            style="color: red"
          >
            Marquer annulé pour le vendeur
          </small>
          <ng-template #valide>
            <small style="color: green">Marquer validé pour le vendeur</small>
          </ng-template>
          <button *ngIf="order?.commission_applied == 0" type="button" class="btn btn-warning text-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Valider la commande
          </button>
        </div>
      </div>
  
      <div class="row box-3">
        <div
        class="col-xl-4"
        style="
          background-color: white;
          margin-bottom: 10px;
          border-radius: 10px;
        "
      >
        <div class=" row" >
          <div class=" col-md-6">
            <img
              [src]="order?.items[0].product.images[0]"
              alt="Product Image"
              height="150"
              width="100%"
              style="border-radius: 20px;border: 1px solid #c4c4c4;
    border-radius: 20px; margin-top: 10px;"
            />
          </div>
          <div class="omdm2 col-md-6">
            <h5 class="card-title mt-0" style="font-size: 18px;">
              {{ order?.items[0].product.name  }}
            </h5>
            <small>{{ order?.items[0].product.sub_title }}</small>
            <div >
              <small>
                {{ order?.items[0].product.stock }}
              </small>
              <p>N°{{ order?.reference }}</p>
            </div>
          </div>
        </div>
      </div>
  
        <!-- bloc top right -->
        <div class="col-xl-8" style="height: 200px; margin-bottom: 10px">
          <div class="comman13" style="padding-top: 10px">
            <!-- type livraison -->
            <div class="inforcom">
              <div class="cartond1">
                <div class="carte1">
                  <img src="assets/img/carton.png" alt="Product Image" height="90%" width="70%"
                    style="border-radius: 20px" />
                </div>
                <div class="carte2">
                  <small style="font-size: 0.8rem; color: black">TYPE DE LIVRAISON</small>
                  <div>
                    <small style="font-size: 0.6rem">A Domicile</small>
                    <p style="font-size: 0.7rem">N°{{ order?.reference }}</p>
                  </div>
                </div>
              </div>
              <div class="cartond2">
                <small style="font-size: 0.8rem; color: black; padding-top: 10px;padding-right: 10px;">
                  {{order?.items[0]?.product?.shop?.name}}
                </small>
              </div>
            </div>
           
            <ng-container
            *ngIf="order?.status !== 'canceled'; else canceledTemplate"
          >
            <div *ngIf="order?.status !== 'new'"
              class="ertehj"
              style="padding-top: 30px; display: flex; justify-content: center"
            >
              <ul
                class="status-line"
                style="
                  width: 80%;
                  display: flex;
                  justify-content: space-between;
                "
              >
                <li
                  *ngFor="let step of steps; let i = index"
                  [ngClass]="{ active: currentStep === i + 1 }"
                >
                  <div
                    style="
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      text-align: center;
                    "
                  >
                    <img
                    style="z-index: 1;"
                    (click)="handleChangeStatus(step?.status, step.label)"
                      [src]="
                        step.completed
                          ? 'assets/img/vrasi.png'
                          : 'assets/img/croix.png'
                      "
                      class="icon-succes"
                      alt="Step Icon"
                      height="15px"
                      width="15px"
                    />
                    <p style="font-size: 0.9rem; color: black">
                      {{ step.label }} <br />
                      <small style="font-size: 0.7rem; color: #979696">{{
                        step.date
                      }}</small>
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </ng-container>

          
            <!-- Template when order is canceled -->
          <ng-template #canceledTemplate>
            <div
              style="
                border-radius: 50%;
                width: 100px;
                height: 100px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                margin-bottom: 10px !important;
              "
            >
              <img
                src="assets/img/croix-rouge.png"
                alt="Canceled"
                height="100px"
                width="100px"
              />
              <p
                style="
                  font-size: 1rem;
                  margin-top: 5px;
                  color: rgb(159, 42, 42);
                "
              >
                Annulée
              </p>
            </div>
          </ng-template>
  
          </div>
        </div>
  
        <div
        class="col-md-6"
        style="
          background-color: white;
          
          margin-bottom: 10px;
          border-radius: 10px;
        "
      >
        <p style="text-align: center; padding-top: 10px">
          DETAIL DE LA COMMANDE
        </p>
        <hr />
        <div
          style="
            display: flex;
            height: 40px;
            width: 100%;
            background-color: white;
            align-items: center;
            justify-content: space-between;
          "
        >
          <small>Taille du produit</small>
          <small style="text-align: center; padding-top: 10px">{{
            order?.items[0].size || "RAS"
          }}</small>
        </div>
        <div
          style="
            display: flex;
            height: 40px;
            width: 100%;
            background-color: white;
            align-items: center;
            justify-content: space-between;
          "
        >
          <small>Couleur du produit</small>
          <small style="text-align: center; padding-top: 10px">{{
            order?.items[0].color || "RAS"
          }}</small>
        </div>
        <div
          style="
            display: flex;
            height: 40px;
            width: 100%;
            background-color: white;
            align-items: center;
            justify-content: space-between;
          "
        >
          <small>Quantité</small>
          <small style="text-align: center; padding-top: 10px"
            >{{ order?.items[0].quantity }} Pieces</small
          >
        </div>
        <div
          style="
            display: flex;
            height: 40px;
            width: 100%;
            background-color: white;
            align-items: center;
            justify-content: space-between;
          "
        >
          <small>Prix de vente</small>
          <small style="text-align: center; padding-top: 10px">{{
            order?.items[0].normal | currency : "XOF"
          }}</small>
        </div>
        <div
          style="
            display: flex;
            height: 40px;
            width: 100%;
            background-color: white;
            align-items: center;
            justify-content: space-between;
          "
        >
          <small>Prix d'achat</small>
          <small style="text-align: center; padding-top: 10px">{{
            order?.items[0].supplier | currency : "XOF"
          }}</small>
        </div>
        <div
          style="
            display: flex;
            height: 40px;
            width: 100%;
            background-color: white;
            align-items: center;
            justify-content: space-between;
          "
        >
          <small>Prix Fournisseur</small>
          <small style="text-align: center; padding-top: 10px">{{
            order?.items[0].total_product  | currency : "XOF"
          }}</small>
        </div>
        <div
          style="
            display: flex;
            height: 40px;
            width: 100%;
            background-color: white;
            align-items: center;
            justify-content: space-between;
          "
        >
          <small>Livraison {{ order.delivery.city.name }}</small>
          <small style="text-align: center; padding-top: 10px">{{
            order?.items[0].total_fees | currency : "XOF"
          }}</small>
        </div>
        <hr />
        <div
          style="
            display: flex;
            height: 40px;
            width: 100%;
            background-color: white;
            align-items: center;
            justify-content: space-between;
          "
        >
          <small style="color: black; font-weight: bolder"
            >MONTANT A PAYER</small
          >
          <small
            style="
              text-align: center;
              padding-top: 10px;
              color: blue;
              font-weight: bolder;
            "
            >{{ order?.items[0].total | currency : "XOF" }}</small
          >
        </div>
      </div>

      <div class="col-md-6" style="height: 350px; margin-bottom: 10px">
        <div
          style="
            width: 100%;
            background-color: white;
            height: 100%;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 10px;
          "
        >
          <p style="text-align: center; padding-top: 10px">
            DETAIL DE LA LIVRAISON
          </p>
          <hr />
          <div
            style="
              display: flex;
              height: 40px;
              width: 100%;
              background-color: white;
              align-items: center;
              justify-content: space-between;
            "
          >
            <small>Nom </small>
            <small style="text-align: center; padding-top: 10px">{{order.client.name || "RAS"}}</small>
          </div>
          <div
            style="
              display: flex;
              height: 40px;
              width: 100%;
              background-color: white;
              align-items: center;
              justify-content: space-between;
            "
          >
            <small>Contact</small>
            <small style="text-align: center; padding-top: 10px">
              <a
                [href]="'tel:' + order.client.phone_number"
                style="color: blue; text-decoration: none"
              >
                {{ order.client.phone_number || "RAS" }}
              </a>
            </small>
          </div>
          <div
            style="
              display: flex;
              height: 40px;
              width: 100%;
              background-color: white;
              align-items: center;
              justify-content: space-between;
            "
          >
            <small>Lieu de livraison</small>
            <small style="text-align: center; padding-top: 10px"
              >{{ order.delivery.city.name }} ({{
                order.delivery.city.country.code
              }})</small
            >
          </div>
          <div
            style="
              display: flex;
              height: 40px;
              width: 100%;
              background-color: white;
              align-items: center;
              justify-content: space-between;
            "
          >
            <small>Date de livraison</small>
            <small style="text-align: center; padding-top: 10px"
              >{{ order.delivery.date }} {{ order.delivery.time }}</small
            >
          </div>
        </div>
      </div>
      </div>
    </div>
  
    <!-- footer -->
    <div class="forue">
      <div class="forue1">
        <!-- <div class="forue11">
          <small style="font-weight: bolder; font-size: 0.7rem">Lamine</small>
          <p style="font-size: 0.5rem">Il y'a 4 minutes</p>
        </div> -->
        <div class="forue112">
          <div class="cersle">
            <img [src]="order?.seller?.user?.picture_path ? order?.seller?.user?.picture_path : 'assets/img/tex.png'" style="border-radius: 100%" height="100%" width="100%" />
          </div>
          <div class="cersle2">
            <small style="font-weight: bolder; font-size: 0.7rem">{{order?.seller?.first_name}} {{order?.seller?.last_name}}</small>
            <div style="font-weight: bold; font-size: 0.7rem">{{order?.seller?.user?.phone_number}} </div>
  
            <p style="font-size: 0.5rem">VENDEUR : #{{order?.seller?.id}} <br />{{order?.seller?.city}} {{order?.seller?.country}}</p>
          </div>
        </div>
        <div class="forue112">
          <div class="cersle">
            <img [src]="order?.items[0]?.product?.shop?.business?.logo" style="border-radius: 100%" height="100%" width="100%" />
          </div>
          <div class="cersle2">
            <small style="font-weight: bolder; font-size: 0.7rem">{{order?.items[0]?.product?.shop?.name}} </small>
  
            <p style="font-size: 0.5rem">{{order?.items[0]?.product?.shop?.business?.name}} <br />{{order?.items[0]?.product?.shop?.address}} {{order?.items[0]?.product?.shop?.city?.name}}</p>
          </div>
        </div>
       
      </div>
      <div class="forue2"></div>
    </div>
  
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
        </div>
      </div>
  
      <div class="fixed_fourn">
        <div class="fixed_fourn1">
          <form [formGroup]="itemForm" action="" method="post" class="formu_fourn">
            <div class="nominf">
              <p style="padding-top: 10px">Détail du marché</p>
              <img src="assets/img/fleche.png" alt="Product Image" height="15px"
                style="position: absolute; left: 20px" />
            </div>
            <div class="nominf1">
              <div class="nominf12">
                <div class="nomin112">
                  <label style="color: black">Quantité</label>
                  <input type="number" (input)="handleChange()" formControlName="quantity" class="nomininp" />
                </div>
                <!-- <div class="nomin12">
                  <img src="assets/img/pouce.png" style="
                      filter: invert(7%) sepia(99%) saturate(7495%)
                        hue-rotate(247deg) brightness(102%) contrast(144%);
                    " alt="Product Image" height="15px" />
                </div> -->
              </div>
              <div class="nominf12">
                <div class="nomin112">
                  <label style="color: black">Prix Daymond</label>
                  <input type="text" [value]="order?.items[0].product?.price?.price" class="nomininp" readonly />
                </div>
                <!-- <div class="nomin12">
                  <img src="assets/img/pouce.png" style="
                      filter: invert(7%) sepia(99%) saturate(7495%)
                        hue-rotate(247deg) brightness(102%) contrast(144%);
                    " alt="Product Image" height="15px" />
                </div> -->
              </div>
              <div class="nominf12">
                <div class="nomin112">
                  <label style="color: black">Prix d'achat</label>
                  <input type="number" (input)="handleChange()" class="nomininp" formControlName="orderproductprice" />
                </div>
                <!-- <div class="nomin12">
                  <img src="assets/img/pouce.png" style="
                      filter: invert(7%) sepia(99%) saturate(7495%)
                        hue-rotate(247deg) brightness(102%) contrast(144%);
                    " alt="Product Image" height="15px" />
                </div> -->
              </div>
              <div class="nominf12">
                <div class="nomin112">
                  <label style="color: black">Commission initiale</label>
                  <input type="number" class="nomininp" (input)="handleChange()" formControlName="commissioninitiale" />
                </div>
                <!-- <div class="nomin12">
                  <img src="assets/img/pouce.png" style="
                      filter: invert(7%) sepia(99%) saturate(7495%)
                        hue-rotate(247deg) brightness(102%) contrast(144%);
                    " alt="Product Image" height="15px" />
                </div> -->
              </div>
              <div class="nominf12">
                <div class="nomin112">
                  <label style="color: black">Commission supplémentaire</label>
                  <input type="number" (input)="handleChange()" class="nomininp" formControlName="commissionsupplementaire" />
                </div>
                <!-- <div class="nomin12">
                  <img src="assets/img/pouce.png" style="
                      filter: invert(7%) sepia(99%) saturate(7495%)
                        hue-rotate(247deg) brightness(102%) contrast(144%);
                    " alt="Product Image" height="15px" />
                </div> -->
              </div>
              <div style="font-weight: bold;color:green;padding:10px;" class="d-flex justify-content-between">
                <div>Revenu total du vendeur</div>
                
                <div>{{this.total}} FCFA</div>
              </div>
              <!-- <div class="nominf12">
                <p style="padding-top: 10px;">NCC </p>
                <p style="padding-top: 10px;">34567-4567</p>
              </div>
              <div class="nominf12">
                <p style="padding-top: 10px;">N° FOURNISSEUR </p>
                <p style="padding-top: 10px;">345678567</p>
              </div>
              <div class="nominf12">
                <p style="padding-top: 10px;">CONTACT </p>
                <p style="padding-top: 10px;">34567890</p>
              </div>
              <div class="nominf12">
                <p style="padding-top: 10px;">VILLE/COMMUNE </p>
                <p style="padding-top: 10px;">MARCORY</p>
              </div>
              <div class="nominf12">
                <p style="padding-top: 10px;">LOCALISATION MAP </p>
                <p style="padding-top: 10px;">MAP LOGO</p>
              </div> -->
            </div>
            <div class="dosi">
              <div class="dosi1">
                <div style="
                    width: 100%;
                    height: 30px;
                    border-bottom: 1px solid gainsboro;
                    min-height: 30px;
                    padding-left: 10px;
                  ">
                  <p>Autres détails</p>
                </div>
                <div style="width: 100%; height: 80px">
                  <textarea formControlName="detail"  name="" id="" style="resize: none; width: 100%; height: 100%; border: none"></textarea>
                </div>
              </div>
              <div class="dosi2">
                <div style="
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                  ">
                  <p style="padding-top: 5px">
                    Validité d'étoiles
  
                    <img src="assets/img/etoile.png" height="15px" />
                  </p>
                  <!-- <input type="radio" name="" id=""> -->
                  <div style="align-items: flex-start">
                    <div class="col">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                      </div>
                    </div>
                  </div>
                </div>
                <div style="
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                  ">
                  <p style="padding-top: 5px">
                    Validé les droits de parrainage 1000
                  </p>
                  <!-- <input type="radio" name="" id=""> -->
                  <div style="align-items: flex-start">
                    <div class="col">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <p style="padding-top: 30px; text-align: center">
              <button (click)="handleOk('validated')" type="button" class="btn btn-success" style="padding-left: 80px; padding-right: 80px"
                data-bs-toggle="modal" data-bs-target="#exampleModal">
                Validation
              </button>
            </p>
            <div style="
                position: absolute;
                top: 70px;
                height: 30px;
                width: 30px;
                background-color: white;
                right: 40px;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              ">
              <!-- <img src="assets/img/croix.png" alt="Product Image" height="15px"> -->
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  
    <!-- Modal -->
    <div class="modal fade" id="annuleModal" tabindex="-1" aria-labelledby="anuleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
        </div>
      </div>
  
      <div class="fixed_fourn">
        <div class="fixed_fourn1">
          <form action="" method="post" class="formu_fourn"
            style="height: 300px; background-color: white; position: relative">
            <p style="text-align: center; padding-top: 40px; color: black">
              Voulez-vous vraiment
              <span style="color: red; font-weight: bolder"> annuler</span> cette
              commande ?
            </p>
            <div class="nominf" style="
                padding: 0px;
                border-top: 1px solid gainsboro;
                background-color: white;
                border-bottom: none;
                position: absolute;
                bottom: 0;
              ">
              <div style="width: 50%; height: 100%; background-color: white">
                <button style="
                    width: 100%;
                    height: 100%;
                    border: none;
                    border-right: 1px solid gainsboro;
                    background-color: white;
                  ">
                  Non
                </button>
              </div>
              <div style="width: 50%; height: 100%; background-color: white">
                <button style="
                    width: 100%;
                    height: 100%;
                    border: none;
                    background-color: white;
                  ">
                  Oui
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-container>


