<div class="mt-2 " style="display: flex;gap: 20px;background-color: none;">
    <div class="container-fluid " style="min-width: 200px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);" id="effacesq">
        <div style="height: 40px;width: 100%;border-bottom: 1px solid gainsboro;">
            <p style="text-align: center;padding-top: 10px;">Réglages</p>
        </div>

      

        <ul class=" nav-tabs" id="myTab" role="tablist" style="padding: 0;">
            <li class="nav-item" role="presentation" style="width: 100%;margin: 0;">
                <button class="nav-link active border-0 w-100" id="premmier-tab" data-bs-toggle="tab"
                    data-bs-target="#premmier" type="button" role="tab" aria-controls="premmier" aria-selected="true">
                    <div
                        style="width: 100%;height: 35px;background-color: #F7F6FE;border-radius: 3px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);margin-top: 10px;display: flex;align-items: center;justify-content: center;padding-top: 15px;">
                        <p style="font-weight: bolder;font-size: 0.9rem;">Ajouter une couverture</p>
                    </div>
                </button>
            </li>
            <li class="nav-item" role="presentation" style="width: 100%;margin: 0;">
                <button class="nav-link border-0 w-100" id="deuxieme-tab" data-bs-toggle="tab" data-bs-target="#deuxieme"
                    type="button" role="tab" aria-controls="deuxieme" aria-selected="true">
                    <div
                        style="width: 100%;height: 35px;background-color: #F7F6FE;border-radius: 3px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);margin-top: 10px;display: flex;align-items: center;justify-content: center;padding-top: 15px;">
                        <p style="font-weight: bolder;font-size: 0.9rem;">Changez l’icone </p>
                    </div>
                </button>
            </li>
            <li class="nav-item" role="presentation" style="width: 100%;margin: 0;">
                <button class="nav-link border-0 w-100" id="trois-tab" data-bs-toggle="tab" data-bs-target="#trois"
                    type="button" role="tab" aria-controls="trois" aria-selected="false">
                    <div
                        style="width: 100%;height: 35px;background-color: #F7F6FE;border-radius: 3px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);margin-top: 10px;display: flex;align-items: center;justify-content: center;padding-top: 15px;">
                        <p style="font-weight: bolder;font-size: 0.9rem;">Ajouter un vendeur</p>
                    </div>
                </button>
            </li>
            <li class="nav-item" role="presentation" style="width: 100%;margin: 0;">
                <button class="nav-link border-0 w-100" id="ka-tab" data-bs-toggle="tab" data-bs-target="#ka"
                    type="button" role="tab" aria-controls="ka" aria-selected="true">
                    <div
                        style="width: 100%;height: 35px;background-color: #F7F6FE;border-radius: 3px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);margin-top: 10px;display: flex;align-items: center;justify-content: center;padding-top: 15px;">
                        <p style="font-weight: bolder;font-size: 0.9rem;">Operations </p>
                    </div>

                </button>
            </li>
            <li class="nav-item" role="presentation" style="width: 100%;margin: 0;">
                <button class="nav-link border-0 w-100" id="cin-tab" data-bs-toggle="tab" data-bs-target="#cin"
                    type="button" role="tab" aria-controls="cin" aria-selected="true">
                    <div
                        style="width: 100%;height: 35px;background-color: #F7F6FE;border-radius: 3px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);margin-top: 10px;display: flex;align-items: center;justify-content: center;padding-top: 15px;">
                        <p style="font-weight: bolder;font-size: 0.9rem;">Centre d’aide </p>
                    </div>

                </button>
            </li>

        </ul>
    </div>

    <div class="tab-content w-100" id="nav-tabContent" >
        <div class="container tab-pane fade show active p-3" id="premmier" role="tabpanel"
            aria-labelledby="premmier-tab" style="width: 100%;background-color: white">
            <!-- Button Group -->

            <div class="d-flex justify-content-between align-items-center w-100">

                <div class="d-flex gap-3 align-items-start justify-content-between w-100" *ngIf="dataset?.length<10">

                    <p class="text-dark">Ajouter une couverture</p>

                    <a data-bs-toggle="modal" data-bs-target="#infoModal">
                        <img src="assets/img/adfgh.png" style="width: 25px;height: 25px;" />
                    </a>
                </div>



            </div>
<div *ngIf="dataset?.length > 0">
    <div class="d-flex gap-3 ">
        <div
        [style.backgroundImage]="'url(' + dataset[0]?.picture_path + ')'"
        class="block-st" style="height: 300px; flex: 1 ; background-size : cover ; background-repeat : no-repeat ;" *ngIf="dataset[0]">
            <!-- <img [src]="dataset[0]?.picture_path" style="width: 100%;height: 100%;" /> -->
            <div class="d-flex justify-content-end p-2">
                <button type="button" class="btn btn-outline-danger" (click)="handleDelete(dataset[0])">
                    <i class="uil uil-trash-alt"></i>
                </button>
             </div>
        </div>

    </div>
    <div class="d-flex gap-3 mt-3">
        <div
        [style.backgroundImage]="'url(' + dataset[1]?.picture_path + ')'"
        class="block-st" style="height: 200px; flex: 1 ; background-size : cover ; background-repeat : no-repeat ;" *ngIf="dataset[1]"> 
            <!-- <img [src]="dataset[1]?.picture_path" style="width: 100%;height: 100%;" /> -->
             <div class="d-flex justify-content-end p-2">
                <button type="button" class="btn btn-outline-danger" (click)="handleDelete(dataset[1])">
                    <i class="uil uil-trash-alt"></i>
                </button>
             </div>
        </div>
        <div
        [style.backgroundImage]="'url(' + dataset[2]?.picture_path + ')'"
        class="block-st" style="height: 200px; flex: 1 ; background-size : cover ; background-repeat : no-repeat ;" *ngIf="dataset[2]">
            <!-- <img [src]="dataset[2]?.picture_path" style="width: 100%;height: 100%;" /> -->
            <div class="d-flex justify-content-end p-2">
                <button type="button" class="btn btn-outline-danger" (click)="handleDelete(dataset[2])">
                    <i class="uil uil-trash-alt"></i>
                </button>
             </div>
        </div>
    </div>
    <div class="d-flex gap-3 mt-3">
        <div
        [style.backgroundImage]="'url(' + dataset[3]?.picture_path + ')'"
        class="block-st" style="height: 200px; flex: 1 ; background-size : cover ; background-repeat : no-repeat ;" *ngIf="dataset[3]">
            <!-- <img [src]="dataset[3]?.picture_path" style="width: 100%;height: 100%;" /> -->
            <div class="d-flex justify-content-end p-2">
                <button type="button" class="btn btn-outline-danger" (click)="handleDelete(dataset[3])">
                    <i class="uil uil-trash-alt"></i>
                </button>
             </div>
        </div>
        <div
        [style.backgroundImage]="'url(' + dataset[4]?.picture_path + ')'"
        class="block-st" style="height: 200px; flex: 1 ; background-size : cover ; background-repeat : no-repeat ;" *ngIf="dataset[4]">
            <!-- <img [src]="dataset[4]?.picture_path" style="width: 100%;height: 100%;" /> -->
            <div class="d-flex justify-content-end p-2">
                <button type="button" class="btn btn-outline-danger" (click)="handleDelete(dataset[4])">
                    <i class="uil uil-trash-alt"></i>
                </button>
             </div>
        </div>
    </div>
    <div class="d-flex gap-3 mt-3">
        <div
        [style.backgroundImage]="'url(' + dataset[5]?.picture_path + ')'"
        class="block-st" style="height: 200px; flex: 1 ; background-size : cover ; background-repeat : no-repeat ;" *ngIf="dataset[5]">
            <!-- <img [src]="dataset[5]?.picture_path" style="width: 100%;height: 100%;" /> -->
            <div class="d-flex justify-content-end p-2">
                <button type="button" class="btn btn-outline-danger" (click)="handleDelete(dataset[5])">
                    <i class="uil uil-trash-alt"></i>
                </button>
             </div>
        </div>
        <div
        [style.backgroundImage]="'url(' + dataset[6]?.picture_path + ')'"
        class="block-st" style="height: 200px; flex: 1 ; background-size : cover ; background-repeat : no-repeat ;" *ngIf="dataset[6]">
            <!-- <img [src]="dataset[6]?.picture_path" style="width: 100%;height: 100%;" /> -->
            <div class="d-flex justify-content-end p-2">
                <button type="button" class="btn btn-outline-danger" (click)="handleDelete(dataset[6])">
                    <i class="uil uil-trash-alt"></i>
                </button>
             </div>
        </div>
    </div>
    <div class="d-flex gap-3 ">
        <div
        [style.backgroundImage]="'url(' + dataset[7]?.picture_path + ')'"
        class="block-st" style="height: 300px; flex: 1 ; background-size : cover ; background-repeat : no-repeat ;" *ngIf="dataset[7]">
            <!-- <img [src]="dataset[7]?.picture_path" style="width: 100%;height: 100%;" /> -->
            <div class="d-flex justify-content-end p-2">
                <button type="button" class="btn btn-outline-danger" (click)="handleDelete(dataset[7])">
                    <i class="uil uil-trash-alt"></i>
                </button>
             </div>
        </div>

    </div>
    <div class="d-flex gap-3 mt-3">
        <div 
        [style.backgroundImage]="'url(' + dataset[8]?.picture_path + ')'"
        class="block-st" style="height: 200px; flex: 1 ; background-size : cover ; background-repeat : no-repeat ;" *ngIf="dataset[8]">
            <!-- <img [src]="dataset[8]?.picture_path" style="width: 100%;height: 100%;" /> -->
            <div class="d-flex justify-content-end p-2">
                <button type="button" class="btn btn-outline-danger" (click)="handleDelete(dataset[8])">
                    <i class="uil uil-trash-alt"></i>
                </button>
             </div>
        </div>
        <div 
        [style.backgroundImage]="'url(' + dataset[9]?.picture_path + ')'"
        class="block-st" style="height: 200px; flex: 1 ; background-size : cover ; background-repeat : no-repeat ;" *ngIf="dataset[9]">
            <!-- <img [src]="dataset[9]?.picture_path" style="width: 100%;height: 100%;" /> -->
            <div class="d-flex justify-content-end p-2">
                <button type="button" class="btn btn-outline-danger" (click)="handleDelete(dataset[9])">
                    <i class="uil uil-trash-alt"></i>
                </button>
             </div>
        </div>
    </div>
   
</div>
            






        </div>
        <div class="container tab-pane fade " id="deuxieme" role="tabpanel" aria-labelledby="deuxieme-tab">
            <p>deux</p>
        </div>
        <div class="container tab-pane fade " id="trois" role="tabpanel" aria-labelledby="trois-tab">
            <p>trois</p>
        </div>
        <div class="container tab-pane fade " id="ka" role="tabpanel" aria-labelledby="ka-tab">
            <p>quatre</p>
        </div>
        <div class="container tab-pane fade " id="cin" role="tabpanel" aria-labelledby="cin-tab">
            <p>cinq</p>
        </div>
     
    </div>

</div>








<!-- Modal d'Information -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <span style="text-align: center;margin:  0 auto;color: black;">Ajouter une image</span>
            <div class="modal-body">
                <!-- Header Section -->


                <!-- Payment Information -->

                <label
                [style.backgroundImage]="file ? 'url('+fileSrc+')':''"
                for="down-image" class="d-flex justify-content-center align-items-center text-center mb-4"
                    style="border: 1px solid rgb(213, 213, 213);border-radius: 10px;padding: 10px;height: 159px;background-repeat: no-repeat;background-size: contain;background-position: center;">

                    <img *ngIf="!file" src="assets/img/addimage.png" alt="User image" style="width: 30px; height: 30px;">

                </label>
                <input
                (change)="loadFile($event)"
                type="file" style="display: none;" name="" id="down-image">
                <!-- Payment Form -->

                <form [formGroup]="itemForm" style="display: flex;flex-direction: column;align-items: center;max-width: 600px;margin: 0 auto;">
                    <div class="mb-3" style="width: 100%;">

                        <div class="input-group form-control" style="background-color: white;">
                            <input formControlName="product_id" type="text" class="form-control" style="border: none;" id="paymentRef"
                                placeholder="17 000">
                            <button type="button" style="background-color: white;border: none;"><img
                                    src="assets/img/bx-chevron-down.png" alt="User image"
                                    style="width: 25px; height: 25px;background-color: white"></button>
                        </div>
                    </div>

                    <div class="mb-3" style="width: 100%;">

                        <div class="input-group form-control" style="background-color: white;margin: 0 auto;">
                            <input formControlName="link" type="text" class="form-control" style="border: none;" id="paymentRef"
                                placeholder="Entrer la référence">
                            <button class="btn btn-primary" type="button">Coller</button>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-warning w-auto " style="margin: auto;color: white;"
                        (click)="handleOk()" data-bs-dismiss="modal" aria-label="Close">ENREGISTRER</button>
                </form>
            </div>
        </div>
    </div>
</div>




