<div style="display: flex;gap: 20px;background-color: none;">
  <div class="container-fluid p-0" style="min-width: 400px;background-color: #DEEBF7;" id="effacesq">
    <div
      style="height: 40px;width: 100%;border-bottom: 1px solid gainsboro;display: flex;justify-content: space-around;background-color: white;padding-top: 5px;border-top-right-radius: 15px;border-top-left-radius: 15px;">


      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="premmier-tab" data-bs-toggle="tab" data-bs-target="#premmier"
            type="button" role="tab" aria-controls="premmier" aria-selected="true">nouveaux 5</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="deuxieme-tab" data-bs-toggle="tab" data-bs-target="#deuxieme" type="button"
            role="tab" aria-controls="deuxieme" aria-selected="false">en cours</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="troisieme-tab" data-bs-toggle="tab" data-bs-target="#troisieme" type="button"
            role="tab" aria-controls="troisieme" aria-selected="true">terminé</button>
        </li>

      </ul>


    </div>


    <div class="tab-content" id="nav-tabContent">

      <div id="myTab" role="tablist" class="container mt-5 tab-pane fade show active" id="premmier" role="tabpanel" aria-labelledby="premmier-tab"
        style="height: 100vh;">

    
        <ul id="myTab" role="tablist" style="padding: 0!important;padding-left: 0;">
            <li class="nav-item" role="presentation" style="list-style-type: none;">
                <button class="nav-link active" id="premmiers-tab" data-bs-toggle="tab" data-bs-target="#premmiers" type="button" role="tab" aria-controls="premmiers" aria-selected="true" ></button>
            </li>
            <li class="nav-item" role="presentation" style="padding: 0;width: 100%;list-style-type: none;margin: 0;">
                <button class="nav-link" id="deuxiemes-tab" data-bs-toggle="tab" data-bs-target="#deuxiemes" type="button" role="tab" aria-controls="deuxiemes" aria-selected="false">
                  
                   <div class="d-flex align-items-start mb-3"
                  style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);padding: 10px;border-radius: 10px;background-color: white;">

                  <img src="assets/img/smmd.png" alt="Profile Image" class="rounded-circle me-3">


                  <div>

                    <h6 class="mb-0 text-dark">John Doe</h6>


                    <p class="mb-0" style="color: #2295F0;">Affichage des 50 première lettre du dernier
                      message reçu. !</p>
                  </div>
                </div>
                </button>
            </li>
            <li class="nav-item" role="presentation" style="padding: 0;width: 100%;list-style-type: none;margin: 0;">
                <button class="nav-link" id="deuxiemes-tab" data-bs-toggle="tab" data-bs-target="#deuxiemes" type="button" role="tab" aria-controls="deuxiemes" aria-selected="false">
                  
                   <div class="d-flex align-items-start mb-3"
                  style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);padding: 10px;border-radius: 10px;background-color: white;">

                  <img src="assets/img/smmd.png" alt="Profile Image" class="rounded-circle me-3">


                  <div>

                    <h6 class="mb-0 text-dark">John Doe</h6>


                    <p class="mb-0" style="color: #2295F0;">Affichage des 50 première lettre du dernier
                      message reçu. !</p>
                  </div>
                </div>
                </button>
            </li>
            <li class="nav-item" role="presentation" style="padding: 0;width: 100%;list-style-type: none;margin: 0;">
                <button class="nav-link" id="deuxiemes-tab" data-bs-toggle="tab" data-bs-target="#deuxiemes" type="button" role="tab" aria-controls="deuxiemes" aria-selected="false">
                  
                   <div class="d-flex align-items-start mb-3"
                  style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);padding: 10px;border-radius: 10px;background-color: white;">

                  <img src="assets/img/smmd.png" alt="Profile Image" class="rounded-circle me-3">


                  <div>

                    <h6 class="mb-0 text-dark">John Doe</h6>


                    <p class="mb-0" style="color: #2295F0;">Affichage des 50 première lettre du dernier
                      message reçu. !</p>
                  </div>
                </div>
                </button>
            </li>
           
        </ul>
     
       
        






      </div>

      <div class="container mt-5 tab-pane fade " id="deuxieme" role="tabpanel" aria-labelledby="deuxieme-tab"
        style="height: 100vh;">

        <div class="d-flex align-items-start mb-3"
          style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);padding: 10px;border-radius: 10px;background-color: white;">

          <img src="assets/img/smmd.png" alt="Profile Image" class="rounded-circle me-3">


          <div>

            <h6 class="mb-0 text-dark">John Doe</h6>


            <p class="mb-0" style="color: #2295F0;">Affichage des 50 première lettre du dernier
              message reçu. !</p>
          </div>
        </div>
        <div class="d-flex align-items-start mb-3"
          style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);padding: 10px;border-radius: 10px;background-color: white;">

          <img src="assets/img/smmd.png" alt="Profile Image" class="rounded-circle me-3">


          <div>

            <h6 class="mb-0 text-dark">John Doe</h6>


            <p class="mb-0" style="color: #2295F0;">Affichage des 50 première lettre du dernier
              message reçu. !</p>
          </div>
        </div>
        <div class="d-flex align-items-start mb-3"
          style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);padding: 10px;border-radius: 10px;background-color: white;">

          <img src="assets/img/smmd.png" alt="Profile Image" class="rounded-circle me-3">


          <div>

            <h6 class="mb-0 text-dark">John Doe</h6>


            <p class="mb-0" style="color: #2295F0;">Affichage des 50 première lettre du dernier
              message reçu. !</p>
          </div>
        </div>







      </div>
      <div class="container mt-5 tab-pane fade " id="troisieme" role="tabpanel" aria-labelledby="troisieme-tab"
        style="height: 100vh;">

        <div class="d-flex align-items-start mb-3"
          style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);padding: 10px;border-radius: 10px;background-color: white;">

          <img src="assets/img/smmd.png" alt="Profile Image" class="rounded-circle me-3">


          <div>

            <h6 class="mb-0 text-dark">John Doe</h6>


            <p class="mb-0" style="color: #2295F0;">Affichage des 50 première lettre du dernier
              message reçu. !</p>
          </div>
        </div>
        <div class="d-flex align-items-start mb-3"
          style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);padding: 10px;border-radius: 10px;background-color: white;">

          <img src="assets/img/smmd.png" alt="Profile Image" class="rounded-circle me-3">


          <div>

            <h6 class="mb-0 text-dark">John Doe</h6>


            <p class="mb-0" style="color: #2295F0;">Affichage des 50 première lettre du dernier
              message reçu. !</p>
          </div>
        </div>
        <div class="d-flex align-items-start mb-3"
          style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);padding: 10px;border-radius: 10px;background-color: white;">

          <img src="assets/img/smmd.png" alt="Profile Image" class="rounded-circle me-3">


          <div>

            <h6 class="mb-0 text-dark">John Doe</h6>


            <p class="mb-0" style="color: #2295F0;">Affichage des 50 première lettre du dernier
              message reçu. !</p>
          </div>
        </div>







      </div>


    </div>
  </div>
  <div style="width: 100%;">


    <div class=" ms-auto d-flex justify-content-end align-items-center w-full" style="background-color: white;">

      <div class="d-flex gap-3 align-items-end  ">

        <img src="assets/img/dorte.png" style="height: 20px;margin-top: 10px;" alt="Profile Image">
      </div>



    </div>


    <div class="tab-content" id="nav-tabContent">
    <!-- personne -->
    <div class="tab-pane fade show active" id="premmiers" role="tabpanel" aria-labelledby="premmiers-tab">


      <div class="d-flex gap-3 p-5" style="background-color: white;">
        <div class="block-st"
          style="height: 300px; flex: 1;display: flex;flex-direction: column;align-items: center;justify-content: center;gap: 30px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
          <img src="assets/img/plad1.png" style="height: 120px;" alt="Profile Image" class="rounded-circle me-3">
          <span style="color: black;font-size: 1.3rem;">Les groupes</span>
        </div>
        <div class="block-st"
          style="height: 300px; flex: 1;display: flex;flex-direction: column;align-items: center;justify-content: center;gap: 30px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
          <img src="assets/img/plad2.png" style="height: 120px;" alt="Profile Image" class="rounded-circle me-3">
          <span style="color: black;font-size: 1.3rem;">Les groupes</span>
        </div>
        <div class="block-st"
          style="height: 300px; flex: 1;display: flex;flex-direction: column;align-items: center;justify-content: center;gap: 30px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
          <img src="assets/img/plad3.png" style="height: 120px;" alt="Profile Image" class="rounded-circle me-3">
          <span style="color: black;font-size: 1.3rem;">Les groupes</span>
        </div>

      </div>
      <div class="d-flex gap-3 mt-3">
        <div class="block-st" style=" flex: 1;">
          <span style="color: black;font-size: 1.3rem;">Les groupes</span>
        </div>
        <div class="block-st" style="flex: 1;display: flex;justify-content: end;">
          <img src="assets/img/lomme.png" width="30px" height="30px" />
        </div>
      </div>
      <div class="d-flex gap-3 mt-3">
        <div class="block-st" style="flex: 1;">
          <div class="d-flex align-items-start mb-3"
            style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);padding: 10px;border-radius: 10px;">

            <img src="assets/img/plad4.png" alt="Profile Image" class="rounded-circle me-3 border p-2">


            <div>

              <h6 class="mb-0 text-dark">John Doe</h6>


              <p class="mb-0" style="color: #2295F0;">Affichage des 50 première lettre du dernier
                message reçu. !</p>
            </div>
          </div>

        </div>
        <div class="block-st" style=" flex: 1;">
          <div class="d-flex align-items-start mb-3"
            style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);padding: 10px;border-radius: 10px;">

            <img src="assets/img/plad4.png" alt="Profile Image" class="rounded-circle me-3 border p-2">


            <div>

              <h6 class="mb-0 text-dark">John Doe</h6>


              <p class="mb-0" style="color: #2295F0;">Affichage des 50 première lettre du dernier
                message reçu. !</p>
            </div>
          </div>

        </div>
      </div>
      <div class="d-flex gap-3 mt-3">
        <div class="block-st" style=" flex: 1;">
          <div class="d-flex align-items-start mb-3"
            style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);padding: 10px;border-radius: 10px;">

            <img src="assets/img/plad4.png" alt="Profile Image" class="rounded-circle me-3 border p-2">


            <div>

              <h6 class="mb-0 text-dark">John Doe</h6>


              <p class="mb-0" style="color: #2295F0;">Affichage des 50 première lettre du dernier
                message reçu. !</p>
            </div>
          </div>

        </div>
        <div class="block-st" style=" flex: 1;">
          <div class="d-flex align-items-start mb-3"
            style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);padding: 10px;border-radius: 10px;">

            <img src="assets/img/plad4.png" alt="Profile Image" class="rounded-circle me-3 border p-2">


            <div>

              <h6 class="mb-0 text-dark">John Doe</h6>


              <p class="mb-0" style="color: #2295F0;">Affichage des 50 première lettre du dernier
                message reçu. !</p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- personne -->
 <!-- code du sms -->
         
      <div class="tab-pane fade mt-0" id="deuxiemes" role="tabpanel" aria-labelledby="deuxiemes-tab" style="width: 100%;height: 100vh;">
        <div style="height: 100%;">

            <div style="height: 100%;">
        

              <div class="chat-header" style="border-bottom: 1px solid gainsboro;">
                <div class="d-flex align-items-start" >

                    <img src="assets/img/smmd.png" alt="Profile Image" class="rounded-circle me-3">
                    
      
                    <div>
      
                      <h6 class="mb-0 text-dark">Cissé Idriss</h6>
                      
      
                      <p class="mb-0" style="color: green;font-size: 0.8rem;">En ligne!</p>
                    </div>
                  </div>
              </div>
              <div style="width: 100%;display: flex;justify-content: center;padding-top: 20px;">
                <span style="text-align: center;margin: 0 auto;">dimanche 15 aout 13:09</span>
              </div>
              
              <div class="message-container" id="messageContainer" style="height: 70%;">
                

                <div class="message sent d-flex flex-row-reverse">
                  <div class="content" style="background-color: #339EFD;">Salut !</div>
                  <img src="https://via.placeholder.com/40" alt="Profile Image">
                </div>
        

                <div class="message received d-flex">
                  <img src="https://via.placeholder.com/40" alt="Profile Image">
                  <div class="content" style="background-color: white;">Salut, comment ça va ?</div>
                </div>
        

                <div class="message sent d-flex flex-row-reverse">
                  <div class="content" style="background-color: #339EFD;">Ça va bien, merci ! Et toi ?</div>
                  <img src="https://via.placeholder.com/40" alt="Profile Image">
                </div>
        

                <div class="message received d-flex">
                  <img src="https://via.placeholder.com/40" alt="Profile Image">
                  <div class="content" style="background-color: white;">Je vais bien aussi, merci !</div>
                </div>
              </div>
        

              <div class="input-area">
                <img src="assets/img/bx-plus-circle.png" style="margin-right: 20px;" alt="Profile Image">
                <input type="text" placeholder="Votre message…" id="messageInput">
                <button style="background-color: white;">   <img src="assets/img/Image620.png" style="margin-right: 20px;" alt="Profile Image"></button>
              </div>
            </div>
          </div>
    </div>   
  </div>
            
        




  </div>
</div>






<div class="modal fade" id="gerantModal" tabindex="-1" aria-labelledby="gerantModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div> -->
    </div>
  </div>


  <div class="fixed_fourn">
    <div class="fixed_fourn1">


      <div class="formu_fourng">
        <div class="nominf">
          <p style="padding-top: 10px;text-align: center;text-transform: uppercase;">Profil, administrateur
          </p>
          <!-- <img src="assets/img/icons/parametre.png" alt="Product Image" height="15px"
              style="position: absolute;left: 20px;" /> -->
        </div>
        <div class="nominf1">
          <div class="nominf12">
            <p style="padding-top: 10px;">Nom </p>
            <p style="padding-top: 10px;">LEVEL BOUTIQUE</p>
          </div>
          <div class="nominf12">
            <p style="padding-top: 10px;">Prenom </p>
            <p style="padding-top: 10px;">BOUTIQUE</p>
          </div>
          <div class="nominf12">
            <p style="padding-top: 10px;">POSTE </p>
            <p style="padding-top: 10px;">GENERAL</p>
          </div>
          <div class="nominf12">

            <p style="padding-top: 10px;">N° CNI </p>
            <p style="padding-top: 10px;">345678567</p>
          </div>
          <div class="nominf12">
            <p style="padding-top: 10px;">CONTACT </p>
            <p style="padding-top: 10px;">34567890</p>
          </div>
          <div class="nominf12">
            <p style="padding-top: 10px;">EMAIL </p>
            <p style="padding-top: 10px;">email</p>
          </div>
          <div class="nominf12">
            <p style="padding-top: 10px;">VILLE/COMMUNE </p>
            <p style="padding-top: 10px;">MARCORY</p>
          </div>

          <div class="nominf12">
            <p style="padding-top: 10px;">EMAIL</p>
            <p style="padding-top: 10px;"> mrmichaelkouamé.gmail.com </p>
          </div>
        </div>
        <div class="dosi">
          <div class="dosi1">

          </div>
          <p style="padding-top: 10px;min-width: 100px;text-align: center;">DOSSIER</p>
          <div class="dosi1">

          </div>
        </div>
        <div class="nominf17">
          <div class="carre1">
            <small style="position: absolute;left: 10px;top: 10px;">PHOTO DE PROFILE</small>
            <div class="cerclez">
              <p style="color: white;font-size: 2rem;font-weight: bolder;padding-top: 10px;">LV</p>
            </div>
          </div>
          <div class="carre2">
            <div style="display: flex;justify-content: space-between;"> <small style="font-size: 0.6rem;">PIECES
                D’IDENTITÉ</small> <small style="font-size: 0.6rem;">2 images</small></div>
            <div class="moncae" style="width: 100%;height: 85px;display: flex;gap: 10px;">
              <div style="width: 50%;height: 100%;background-color: gainsboro;">

              </div>
              <div style="width: 50%;height: 100%;background-color: gainsboro;">

              </div>

            </div>
          </div>
        </div>

        <div
          style="width: 100%;display: flex;justify-content: space-between;align-items: center;padding-left: 20px;padding-right: 20px;">
          <p style="padding-top: 30px;">Cree le 17 Jan 2017</p>
          <button
            style="margin-top: 30px;color: red;border: 1px solid gainsboro;padding-left: 10px;padding-right: 10px;border-radius: 3px;">Desactiver
            les access</button>
        </div>
        <div
          style="position: absolute;top: 70px;height: 30px;width: 30px;background-color: white;right: 40px;border-radius: 100%;display: flex;justify-content: center;align-items: center">

          <!-- <img src="assets/img/icons/croix.png" alt="Product Image" height="15px"> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>

    </div>

  </div>


</div>